Flask==0.10.1
Flask-OAuth==0.12
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
click==2.4
httplib2==0.9
httplib2.ca-certs-locater==0.2.0
itsdangerous==0.24
oauth2==1.5.211
passlib==1.6.2
requests==2.3.0
stripe==1.18.0
wsgiref==0.1.2
yuicompressor=2.4.8