<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <title>justwrite.it</title>
		<link rel="icon" href="" type="image/png">
		<link rel="stylesheet" type="text/css" href="/static/css/wonderpad.css">
		<script type="text/javascript" src="//use.typekit.net/bgy6gxf.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	</head>
	<body>

		{% if not current_user.is_authenticated() %}
			<div id="landing">
				<iframe src="/landing/" scrollbar="no"></iframe>
			</div>	
		{% endif %}	

		<div class="menu" onmouseover="WPCLib.ui.menuSlide(1);" id="folio">
			<div class="menuheader">
				<div class="icon showmenu" title="Show Menu">Show Menu</div>
				<a href="#" class="newdoc" onclick="WPCLib.folio.docs.newdoc();"><b>+</b> New Document</a>
			</div>
			<div class="documents" id="doclist">
				Loading...
				<div id="wordcount"></div><br />
				<div id="log"></div>				
			</div>	
			<div class="menufooter">
				<div class="logout" id="logout">
					<a href="#" class="button dark" title="Logout">
						<span>Logout</span>
					</a>			
				</div>
				<div class="archive">
					<a href="#" class="button dark settings" title="Settings" onclick="WPCLib.folio.showSettings();">
						<span>Settings</span>
					</a>					
					<a href="#" class="panel dark archbutton">
						<span>Archive</span>
					</a>								
				</div>	
			</div>			
		</div>
		
		<a href="#" onclick="WPCLib.context.switchview(); return false;" id="switchview">x</a>		
		<div class="canvas" id="canvas">

			<div class="page" id="page">
				<div class="content">
					<input class="title" id="pageTitle">
					<textarea id="pageContent" placeholder="Just write" id="pageContent"></textarea>
				</div>	
			</div>	
			<div id="nicequote" style="display:none;">
				<span class="quote">“One day I will find the right words, and they will be simple.”</span>
				<small>– Jack Kerouac, The Dharma Bums</small>
			</div>	
		</div>
		
		<div class="context" id="context">
			<div id="status" title="Select a word or paragraph to limit your search.">&nbsp;</div>
			<div class="results" id="results">																				
			</div>
			<div class="upgrade" id="signupButton">
				<a href="#" class="wpcbutton green" title="Unlock more results and other features" onclick="WPCLib.folio.showSettings(); return false;">Sign Up ( Free! )</a>
			</div>
		</div>

		<div id="modalShield" onclick="WPCLib.ui.hideDialog();">
			<div id="dialogWrapper">
				<iframe id="dialog"></iframe>
			</div>	
		</div>	
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/static/js/client.js" type="text/javascript"></script>	
		<script type="text/javascript">

			// Set user level, TODO Discuss how we hand this over from Django
            WPCLib.sys.user.setStage({% if current_user.is_authenticated() %}1{% else %}0{% endif %});
			WPCLib.sys.init();

			// fires on page load
			WPCLib.sys.onstartup( function() {
			});
		</script>	

	</body>
</html>
