<!DOCTYPE html>
<html lang="en" style="overflow: hidden !important;">
	<head>
		<meta charset="utf-8">
	    <title>justwrite.it</title>
		<link rel="icon" href="" type="image/png">
		<link rel="stylesheet" type="text/css" href="/static/css/wonderpad.css">
		<script type="text/javascript" src="//use.typekit.net/nmo5dsg.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body id="landingPage">
		<h1><em>Hiro.</em> The Essential Writing App.</h1>
		<div class="teaser">
			<div class="screen">
				<div class="manage blurb">
					<div class="header">Manage</div>
					<div class="desc">Ridiculously <em>fast</em> and secure access from anywhere.</div>
				</div>	
				<div class="write blurb">
					<div class="header">Write</div>
					<div class="desc">Blissful white page with <em>no nonsense</em>.</div>
				</div>		
				<div class="research blurb">
					<div class="header">Research</div>
					<div class="desc">A <em>semantic engine</em> that finds the best links for your document, or just words you select, and keeps them all in a tidy place.</div>
				</div>												
			</div>							
		</div>
		<div class="cto">
			<a href="#" class="wpcbutton blue start" id="startwriting" onclick="window.parent.WPCLib.ui.fade(window.parent.document.getElementById('landing'),-1,150); window.parent.document.getElementById('pageContent').focus(); return false;">Start Writing ( It's Free! )</a><br />
			or <a href="#" onclick="window.parent.WPCLib.ui.fade(window.parent.document.getElementById('landing'),-1,150);window.parent.WPCLib.folio.showSettings('s_signin',true); return false;" class="signin">sign-in</a>.		
		</div>	
		<script type="text/javascript">
			// Prevent keystrokes to save document and focus button
			if (parent.document.getElementById('landing').style.display != 'none') document.getElementById('startwriting').focus();
		</script>
	</body>
</html>
