<!DOCTYPE html>
<html style="overflow: hidden !important;">
	<head>
		{{ get_asset('hiro_css') }}
		<script type="text/javascript" src="//use.typekit.net/nmo5dsg.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body id="landingPage2">
		<div class="l_container">
			<div class="l_overlay" onclick="window.parent.Hiro.ui.fade(window.parent.document.getElementById('landing'),-1,150); window.parent.document.getElementById('pageContent').focus();window.parent.analytics.track('Started Interacting');"></div>
			<div class="l_canvas">			
				<h1>Hiro.</h1>
				<div class="text">
					Dead-simple&nbsp;<em>notetaking</em>.
				</div>	
				<div class="cto">
					<a href="#" class="wpcbutton blue start" id="startwriting" onclick="window.parent.Hiro.ui.fade(window.parent.document.getElementById('landing'),-1,150); window.parent.document.getElementById('pageContent').focus();window.parent.analytics.track('Started Interacting');return false;" ontouchstart="window.parent.Hiro.ui.fade(window.parent.document.getElementById('landing'),-1,150); window.parent.document.getElementById('pageContent').focus();window.parent.analytics.track('Started Interacting');return false;">Start A Note ( It's Free! )</a>
					<span class="small">or&nbsp;<a href="#" onclick="window.parent.Hiro.ui.fade(window.parent.document.getElementById('landing'),-1,150);window.parent.Hiro.folio.showSettings('s_signin','signin_mail');window.parent.analytics.track('Started Interacting');return false;" class="signin">sign-in</a>.</small>
				</div>	
			</div>		
		</div>
		<div class="l_footer">
			<div class="l_box"><div class="l_header">Ridiculously Fast</div>Start writing with a single tap, in under a second.</div>
			<div class="l_box middle"><div class="l_header">Safe &amp; Secure</div>Your notes are always encrypted, synced and backed up.</div>
			<div class="l_box"><div class="l_header">Everywhere &amp; Offline</div>Just works, anytime, on all your devices.</div>
		</div>		
	</body>
</html>
