<!DOCTYPE html>
<html style="overflow: hidden !important;">
	<head>
		{{ get_asset('hiro_css') }}
		<script type="text/javascript" src="//use.typekit.net/nmo5dsg.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body id="landingPage">
		<h1><em>Hiro.</em>&nbsp;Never Lose Your Best Ideas.</h1>
		<div class="teaser">
			<div class="screen">
				<div class="manage blurb">
					<div class="header">Manage</div>
					<div class="desc">Ridiculously&nbsp;<em>fast</em>&nbsp;and secure access from&nbsp;<em>anywhere</em>.</div>
				</div>	
				<div class="write blurb">
					<div class="header">Write</div>
					<div class="desc">Clean page with&nbsp;<em>no nonsense</em>.</div>
				</div>		
				<div class="research blurb">
					<div class="header">Research</div>
					<div class="desc">A&nbsp;<em>semantic engine</em>&nbsp;that finds the best links for your notes, or just words you select, and keeps them all in a tidy place.</div>
				</div>												
			</div>							
		</div>
		<div class="cto">
			<a href="#" class="wpcbutton blue start" id="startwriting" onclick="window.parent.WPCLib.ui.fade(window.parent.document.getElementById('landing'),-1,150); window.parent.document.getElementById('pageContent').focus();window.parent.analytics.track('Started Interacting');return false;">Start Writing ( It's Free! )</a><br />
			or&nbsp;<a href="#" onclick="window.parent.WPCLib.ui.fade(window.parent.document.getElementById('landing'),-1,150);window.parent.WPCLib.folio.showSettings('s_signin','signin_mail');window.parent.analytics.track('Started Interacting');return false;" class="signin">sign-in</a>.		
		</div>	
	</body>
</html>
