<!DOCTYPE html>
<html style="overflow: hidden !important;">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/wonderpad.css">
		<script type="text/javascript" src="//use.typekit.net/nmo5dsg.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body id="landingPage">
		<h1><em>Hiro.</em> The World's Best Notepad.</h1>
		<div class="teaser">
			<div class="screen">
				<div class="manage blurb">
					<div class="header">Fast</div>
					<div class="desc">Immediate and <em>secure</em> access from <em>anywhere</em>.</div>
				</div>	
				<div class="write blurb">
					<div class="header">Simple</div>
					<div class="desc">Ridiculously clean page with <em>no nonsense</em>.</div>
				</div>		
				<div class="research blurb">
					<div class="header">Smart</div>
					<div class="desc">A <em>semantic engine</em> that finds the best links for your notes, or just words you select, and keeps them all in a tidy place.</div>
				</div>												
			</div>							
		</div>
		<div class="cto">
			<a href="#" class="wpcbutton blue start" id="startwriting" onclick="window.parent.WPCLib.ui.fade(window.parent.document.getElementById('landing'),-1,150); window.parent.document.getElementById('pageContent').focus(); return false;">Start Writing ( It's Free! )</a><br />
			or <a href="#" onclick="window.parent.WPCLib.ui.fade(window.parent.document.getElementById('landing'),-1,150);window.parent.WPCLib.folio.showSettings('s_signin','signin_mail'); return false;" class="signin">sign-in</a>.		
		</div>	
	</body>
</html>
