<!DOCTYPE html>
<!-- TODO Flo: enable link to hashed manifest file, i.e. hiro.foo132.manifest that changes whenever js or css changes -->
<!-- Alternatively we can als switch off caching for manifest file and bear the extra request costs if it's too much effort -->
<html manifest="/hiro.manifest">
	<head>
		<meta charset="utf-8">
	    <title>Hiro</title>
        <meta name="description" content="From ideas for your business to party preparations: Hiro is the easiest way to stay organized throughout the day." />
        <meta name="keywords" content="Hiro, notes, notepad, notes with firends, shared notes, notetaking, evernote, simplenote, shared notes, writing, writing app, word processor, text, text editor" />
        <meta name="title" content="Hiro" />	    
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />		
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="apple-mobile-web-app-title" content="Hiro" />	
		<meta name="mobile-web-app-title" content="Hiro" />			
		<meta name="viewport" id="viewport" content="height=device-height,width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no"/>
		<meta property="og:site_name" content="Hiro" />
        <meta property="og:title" content="Hiro" />
        <meta property="og:url" content="https://www.hiroapp.com" />
        <meta property="og:image" content="https://www.hiroapp.com/og.png" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Notes with friends." />
        {{ get_asset('new_css') }}
		<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png"/>	
		<meta name="apple-mobile-web-app-status-bar-style" content="black">		
		<link rel="canonical" href="https://www.hiroapp.com"/>	
		<script type="text/javascript" src="//use.typekit.net/nmo5dsg.js"></script>
        <script type="text/javascript" src="/_ah/channel/jsapi"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>		
        <style type="text/css">
            /* limbo! */
            {{ current_user.custom_css }}
        </style>
	</head>
	<body>

		<div id="fb-root"></div>		

		{% if not current_user.is_authenticated() %}
			<iframe src="/landing/" scrollbar="no" id="landing"></iframe>	
		{% endif %}	

		<div id="showmenu">
			<div class="bubble red" id="updatebubble">8</div>
		</div>

		<div id="folio">
			<a id="newnote"><b>+</b>&nbsp; New Note</a>
			<div class="notes simplescroll" id="notelist">
				<span class="loading">Loading...</span>				
			</div>				
			<div class="notes simplescroll" id="archivelist"></div>
			<div class="footer">
				<a class="signin" id="signin" title="Sign In">Sign In</a>						
				<a class="archivelink" id="archivelink" title="Archive">Archive</a>	
				<a class="settings icon" id="settings" title="Settings & Log Out"></a>											
			</div>
		</div>
			
		<div id="canvas">
			<div id="apps"></div>	
			<input class="title" id="pageTitle" value="">				
			<textarea placeholder="Just write" id="pageContent"></textarea>
	        <div id="context">
				<div id="status">&nbsp;</div>
				<div id="errorstatus" title="Can't connect to Hiro.&#013;Please do not close Hiro before you went back online &amp; saved, or your changes will be lost.">&nbsp;</div>			
				<div id="results">	
					<div id="msgresults"></div>
					<div id="synresults"></div>				
					<div id="wwwresults"></div>																		
				</div>
			</div>

			<div id="nicequote">
				<span class="quote">“One day I will find the right words, and they will be simple.”</span>
				<small>– Jack Kerouac, The Dharma Bums</small>
			</div>

		</div>
		
		<div id="shield">
			<div class="wrapper">				
				<div id="d_logio">
					<div id="s_signup">
						<a class="fb hirobutton" data-hiro-action="fbauth">Sign-Up with&nbsp;<b>Facebook</b></a>
						<div class="divider"><span class="or">or</span></div>
						<form action="javascript:void(0);">
							<input type="email" placeholder="E-Mail"></input><div class="inputerror"></div>				
							<input type="password" placeholder="Choose a password"></input><div class="inputerror"></div>	
							<input type="submit" value="foo" onclick="Hiro.user.logio(event);" class="pseudobutton"></input>
						</form>		
						<a class="hirobutton green" data-hiro-action="register">Create Account</a>	
						<div class="mainerror"></div>
						<a class="small" data-hiro-action="switch_s_signin">Already have an account?</a>			
					</div>	
					<div id="s_signin">
						<a class="fb hirobutton" data-hiro-action="fbauth">Log-In with&nbsp;<b>Facebook</b></a>
						<div class="divider"><span class="or">or</span></div>
						<form action="javascript:void(0);">
							<input type="email" placeholder="E-Mail" id="signin_mail"></input><div class="inputerror"></div>
							<input type="password" id="signin_pwd" placeholder="Password"></input><div class="inputerror"></div>
							<input type="submit" value="foo" onclick="Hiro.user.logio(event,true);" class="pseudobutton"></input>
						</form>		
						<a class="hirobutton green" data-hiro-action="login">Log-In</a>	
						<div class="mainerror"></div>				
						<a class="small" data-hiro-action="requestpwdreset">Lost password?</a> &nbsp; <a class="small" data-hiro-action="switch_s_signup">Create an account</a>
					</div>	
					<div id="s_reset">
						<form action="javascript:void(0);">
							<input type="password" placeholder="New password" id="new_password"></input><div class="inputerror"></div>
							<input type="password" placeholder="Repeat password"></input><div class="error"></div>
							<input type="submit" value="foo" onclick="Hiro.user.resetpwd();" class="pseudobutton"></input>
						</form>		
						<a class="hirobutton green" data-hiro-action="resetpwd">Reset Password</a>	
						<div class="mainerror"></div>	
						<a class="small" data-hiro-action="switch_s_signin">Login with old password.</a>								
					</div>			
				</div>				
				<div id="d_settings"></div>				
				<div id="d_msg"></div>				
				<div id="d_container"></div>
			</div>	
			<div class="d_close"><div>
		</div>	

		<div id="hprogress"><div class="bar" role="bar"><div class="peg"></div></div></div>

		<div id="wastebin"></div>
	
        {{ get_asset('new_js') }}
        {{ profiler_includes|safe }}
        <script type="text/javascript">window.analytics||(window.analytics=[]);Hiro.sys.init({{ current_user.tier or '0' }},'{{ config.WS_URL }}');</script></body></html>
