<html style="overflow: hidden;">
<head>
	<script>var _wpc=window.parent.WPCLib,$=window.parent.$;</script>
    <link rel="stylesheet" type="text/css" href="/static/css/wonderpad.css">
	<script type="text/javascript" src="//use.typekit.net/nmo5dsg.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>	
</head>
<body id="settingsPage">
	<div id="fb-root"></div>
	<a href="#" onclick="_wpc.ui.hideDialog();return false;" class="close">Close</a>
	<div>
        {% if not current_user.is_authenticated() %}
		<div id="s_login">
			<div id="s_signup">
				<a href="#" class="fb wpcbutton" onclick="this.innerHTML='Signing Up...';facebooklogin();return false;">Sign-In With <b>Facebook</b></a>
				<div class="divider"><span class="or">or</span></div>
				<form id="signupform">
					<input type="text" placeholder="E-Mail" onkeyup="document.getElementById('s_signin').getElementsByTagName('input')[0].value=this.value"></input><div class="error"></div>					
					<input type="password" placeholder="Choose a password"></input><div class="error"></div>					
				</form>		
				<a href="#" class="wpcbutton green" id="signupbutton" onclick="_wpc.sys.user.register(); return false;">Create Account</b></a>	
				<div id="signuperror"></div>
				<a href="#" class="small" onclick="_wpc.ui.switchView(document.getElementById('s_signin')); return false;">Already have an account?</a>			
			</div>	
			<div id="s_signin" style="display:none;">
				<a href="#" class="fb wpcbutton" onclick="this.innerHTML='Signing Up...';facebooklogin();return false;">Log-In With <b>Facebook</b></a>
				<div class="divider"><span class="or">or</span></div>
				<form id="loginform">
					<input type="text" placeholder="E-Mail" onkeyup="document.getElementById('s_signup').getElementsByTagName('input')[0].value=this.value"></input><div class="error"></div>
					<input type="password" placeholder="Password"></input><div class="error"></div>
				</form>		
				<a href="" class="wpcbutton green" id="loginbutton" onclick="_wpc.sys.user.login(); return false;">Log-In</b></a>	
				<div id="loginerror"></div>				
				<a href="" class="small">Lost password?</a> &nbsp; <a href="#" class="small" onclick="_wpc.ui.switchView(document.getElementById('s_signup')); return false;">Create an account</a>					
			</div>	
		</div>	

		<script type="text/javascript">
		function facebooklogin() {
			var WPFBbuttonHTML = 'Sign-In With <b>Facebook</b>';
			FB.getLoginStatus(function(response) {
			  console.log('trying to log in');	
			  if (response.status === 'connected') {
			    console.log('Already have all permissions! ',response.authResponse);
				$.ajax({
					url: "/connect/facebook",
	                type: "POST",
	                contentType: "application/json; charset=UTF-8",
	                data: JSON.stringify(response.authResponse),
					success: function(data) {
	                    // All that needs to be done at this point
	                    _wpc.sys.user.authed('login',data);									                    
					}
				});				    
			  } else if (response.status === 'not_authorized') {
			    console.log('Hm, not authed,triggering fb auth dialog');
				FB.login(function(response) {
				   if (response.authResponse) {
					    console.log('facebook perms granted! ',response.authResponse);
						$.ajax({
							url: "/connect/facebook",
			                type: "POST",
			                contentType: "application/json; charset=UTF-8",
			                data: JSON.stringify(response.authResponse),
							success: function(data) {
			                    // All that needs to be done at this point
			                    _wpc.sys.user.authed('register',data);									                    
							}
						});
				   } else {
				   	 // FB auth process aborted by user
				     console.log('User cancelled login or did not fully authorize.');
				     $("#dialog").contents().find(".fb.wpcbutton").html(WPFBbuttonHTML);
				   }
				 },{scope: 'email'});
			  } else {
			  	// User not signed in to Facebook
			    console.log('y u no facebook?',$('.fb.wpcbutton').html());
				if (confirm("You are not signed in to Facebook. Visit Facebook now?")) window.open('https://www.facebook.com');
				$("#dialog").contents().find(".fb.wpcbutton").html(WPFBbuttonHTML);				
			  }
			});
		}
		</script>

        {% endif %}

		<div id="s_settings" {% if not current_user.is_authenticated() %}style="display:none;"{% endif %}>

			<div id="s_account" style="display:none;">
				<div class="header">
					<div class="active">Your Account</div>
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_plan'));return false;">Plans &amp; Payment</a>
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_about'));return false;">About</a>	
				</div>
			</div>
				
			<div id="s_plan">
				<div class="header">
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_account'));return false;">Your Account</a>
					<div class="active">Plans &amp; Payment</div>
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_about'));return false;">About</a>							
					<!--<em>Welcome!</em> Do you want to unlock more features right away?-->
				</div>

				<!-- TODO Django: Render plan up/downgrad buttons accordingly -->
				<div class="box 1">
					<div class="head">Basic</div>
					<div class="price">Free!</div>
					<div class="curr">&nbsp;</div>	
					<ul>
						<li>Up to 10 documents
						<li>100 context searches	
						<li>
						<li>
					</ul>	
					<a href="#" class="wpcbutton" style="background-color: #666 !important" onclick="_wpc.ui.hideDialog();return false;">Your Current Plan</a>				
				</div>
				<div class="box 2">
					<div class="head">Starter</div>
					<div class="price">9<sup>.90</sup></div>	
					<div class="curr">USD / MONTH</div>	
					<ul>
						<li>Unlimited documents
						<li>Unlimited searches
						<li>Archive	
						<li>	
					</ul>
					<a href="#" class="wpcbutton green" onclick="_wpc.ui.hideDialog();return false;">Upgrade !</a>						
				</div>
				<div class="box 3">
					<div class="head">Pro</div>
					<div class="price">29</div>		
					<div class="curr">USD / MONTH</div>	
					<ul>
						<li>All Starter features
						<li>Speciality data sources
						<li>Chrome research plugin							
						<li>Team editing
						<li>One-click publishing	
					</ul>
					<a href="#" class="wpcbutton green" onclick="_wpc.ui.hideDialog();return false;">Upgrade !</a>
				</div>
				<div id="s_planfooter" class="footer">
					<a href="#" onclick="_wpc.ui.hideDialog();return false;">Not now, thanks.</a>	
				</div>	
			</div>

			<div id="s_checkout" style="display:none;">
				<div class="header">
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_account'));return false;">Your Account</a>
					<div class="active">Plans &amp; Payment</div>
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_about'));return false;">About</a>						
				</div>
				<a href="#" class="skip" onclick="_wpc.ui.hideDialog();return false;">Not now, thanks.</a>
			</div>

			<div id="s_about" style="display:none;">
				<div class="header">
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_account'));return false;">Your Account</a>
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_plan'));return false;">Plans &amp; Payment</a>
					<div class="active">About</div>	
				</div>
				Writing, may it be emails, documents or posts takes up a large amount of our time in front of screens.<br /><br />

				But surprisingly, it is the one area where we still use the most arcane tools from the 20th century.<br /><br />

				Wonderpad lets you create better texts, faster. And get inspired along the way.<br /><br />

				Because writing like Word for Dos was OK in 1988. But it isn't in 2012.
			</div>

		</div>	
	</div>

	<script>
	  window.fbAsyncInit = function() {
	    // init the FB JS SDK
	    FB.init({
	      appId      : '{{ config.FACEBOOK_APP_ID }}',                       
	      status     : true,                                 // Check Facebook Login status
	      xfbml      : true                                  // Look for social plugins on the page
	    });
	  };

	  // Load the SDK asynchronously
	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "http://connect.facebook.net/en_US/all.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>

</body>
</html>	
