<html style="overflow: hidden;">
<head>
	<script>var _wpc=window.parent.WPCLib,$=window.parent.$,analytics=window.parent.analytics;</script>
    <link rel="stylesheet" type="text/css" href="{{ assets.hiro_css }}">				
	<script type="text/javascript" src="//use.typekit.net/nmo5dsg.js"></script>    
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>		
</head>
<body id="settingsPage">
	<a href="#" onclick="_wpc.ui.hideDialog();return false;" ontouchstart="_wpc.ui.hideDialog();return false;" class="close">Close</a>
	<div>
        {% if not current_user.is_authenticated() %}
		<div id="s_login">
			<div id="s_signup">
				<a href="#" class="fb wpcbutton" onclick="this.innerHTML='Signing Up...';facebooklogin();return false;">Sign-In With <b>Facebook</b></a>
				<div class="divider"><span class="or">or</span></div>
				<form id="signupform">
					<input type="text" placeholder="E-Mail" onblur="document.getElementById('signin_mail').value=this.value;" id="signup_mail" onkeydown="this.nextSibling.innerHTML='';"></input><div class="error"></div>					
					<input type="password" placeholder="Choose a password" onkeydown="this.nextSibling.innerHTML='';"></input><div class="error"></div>	
					<input type="submit" value="foo" onclick="_wpc.sys.user.register(); return false;" class="pseudobutton"></input>
				</form>		
				<a href="#" class="wpcbutton green" id="signupbutton" onclick="_wpc.sys.user.register(); return false;">Create Account</a>	
				<div id="signuperror"></div>
				<a href="#" class="small" onclick="_wpc.ui.switchView(document.getElementById('s_signin')); return false;">Already have an account?</a>			
			</div>	
			<div id="s_signin" style="display:none;">
				<a href="#" class="fb wpcbutton" onclick="this.innerHTML='Signing In...';facebooklogin();return false;">Log-In With <b>Facebook</b></a>
				<div class="divider"><span class="or">or</span></div>
				<form id="loginform">
					<input type="text" placeholder="E-Mail" onblur="document.getElementById('signup_mail').value=this.value;" id="signin_mail" onkeydown="this.nextSibling.innerHTML='';"></input><div class="error"></div>
					<input type="password" placeholder="Password" onkeydown="this.nextSibling.innerHTML='';"></input><div class="error"></div>
					<input type="submit" value="foo" onclick="_wpc.sys.user.login(); return false;" class="pseudobutton"></input>
				</form>		
				<a href="" class="wpcbutton green" id="loginbutton" onclick="_wpc.sys.user.login(); return false;">Log-In</a>	
				<div id="loginerror"></div>				
				<a href="#" class="small" onclick="return false;">Lost password?</a> &nbsp; <a href="#" class="small" onclick="_wpc.ui.switchView(document.getElementById('s_signup')); return false;">Create an account</a>
			</div>	
		</div>	

		<script type="text/javascript">
		function facebooklogin() {
			var WPFBbuttonHTML = 'Sign-In With <b>Facebook</b>';
			FB.getLoginStatus(function(response) {	
			  if (response.status === 'connected') {
				$.ajax({
					url: "/_cb/facebook",
	                type: "POST",
	                contentType: "application/json; charset=UTF-8",
	                data: JSON.stringify(response.authResponse),
					success: function(data) {
	                    // All that needs to be done at this point
	                    _wpc.sys.user.authed('login',data);									                    
					}
				});				    
			  } else if (response.status === 'not_authorized') {
			    if (window.navigator.standalone) {
			    	// On mobile devices with potentially no popups we do a classic flow
			    	window.parent.location = '/connect/facebook?next=/';
			    } else {
					FB.login(function(response) {
					   if (response.authResponse) {
							$.ajax({
								url: "/_cb/facebook",
				                type: "POST",
				                contentType: "application/json; charset=UTF-8",
				                data: JSON.stringify(response.authResponse),
								success: function(data) {
				                    // All that needs to be done at this point
				                    _wpc.sys.user.authed('register',data);									                    
								}
							});
					   } else {
					   	 // FB auth process aborted by user
					     $("#dialog").contents().find(".fb.wpcbutton").html(WPFBbuttonHTML);
					   }
					},{scope: 'email'});
				}	
			  } else {
			  	// User not signed in to Facebook, so on touch devices we use redirect the window and otehrwise open a popup
			    if (window.navigator.standalone) {
			    	// On mobile devices with potentially no popups we do a classic flow
			    	window.parent.location = '/connect/facebook?next=/';
			    } else {
					FB.login(function(response) {
					   if (response.authResponse) {
							$.ajax({
								url: "/_cb/facebook",
				                type: "POST",
				                contentType: "application/json; charset=UTF-8",
				                data: JSON.stringify(response.authResponse),
								success: function(data) {
				                    // All that needs to be done at this point
				                    _wpc.sys.user.authed('register',data);									                    
								}
							});
					   } else {
					   	 // FB auth process aborted by user
					     $("#dialog").contents().find(".fb.wpcbutton").html(WPFBbuttonHTML);
					   }
					},{scope: 'email'});
				}			
			  }
			});
		}
		</script>

        {% endif %}

		<div id="s_settings" {% if not current_user.is_authenticated() %}style="display:none;"{% endif %}>

			<div id="s_account">
				<div class="header">
					<div class="active">You<em>r Account</em></div>
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_plan'));return false;" ontouchstart="_wpc.ui.switchView(document.getElementById('s_plan'));return false;">Plan<em>s &amp; Payment</em></a>
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_about'));return false;" ontouchstart="_wpc.ui.switchView(document.getElementById('s_about'));return false;">About</a>	
				</div>
				{% if current_user.is_authenticated() %}
				<div class="accountdetails">
					<form>
						<input type="text" value="{{ current_user.email }}" disabled></input>{% if current_user.facebook_uid %}<div class="ioption">via <a href="https://www.facebook.com/{{ current_user.facebook_uid }}" class="facebook" target="_blank">Facebook</a></div>{% endif %}
						<input type="text" value="Member since: {{ current_user.signup_at.strftime('%B %d, %Y') }}" disabled></input><div class="ioption nomobile">Thanks!</div>
						<input type="text" value="{% if current_user.tier==1 %}Free{% elif current_user.tier==2 %}Starter{% else %}Pro{% endif %} Plan" disabled></input><div class="ioption"><a href="#" onclick="_wpc.ui.switchView(document.getElementById('s_plan'));return false;">Upgrade</a></div>			
					</form>		
					<div class="divider"><span class="or">Tell friends about Hiro:</span></div>
					<a href="https://www.facebook.com/dialog/feed?app_id={{ config.FACEBOOK_APP_ID }}&link=https%3A%2F%2Fwww.hiroapp.com&redirect_uri=https%3A%2F%2Fwww.hiroapp.com" class="wpcbutton share fb" onclick="facebookshare(); return false;">via <b>Facebook</b></a>
					<a href="https://twitter.com/intent/tweet?text=Hmm%2C%20%22Change%20the%20world%20with%20the%20right%20words%22%20they%20say.%20%23writerapp%20https%3A%2F%2Fwww.hiroapp.com" onclick="window.open(this.href,'twitter','height=282,width=600');" class="wpcbutton share tw">via <b>Twitter</b></a>	
					<a href="mailto:?subject=You%20Know%20Hiro%3F&body=Good%20way%20to%20write%20%26%20manage%20texts%3A%20www.hiroapp.com" class="wpcbutton share mail green" target="_blank">via <b>Mail</b></a>	
					<a href="sms://?body=Hey%2C%20do%20you%20know%20www.hiroapp.com%3F" class="wpcbutton share sms">via <b>SMS</b></a>
				</div>	
				{% endif %}					
			</div>
				
			<div id="s_plan" style="display:none;">
				<div class="header forced"></div>				
				<div class="header">
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_account'));return false;" ontouchstart="_wpc.ui.switchView(document.getElementById('s_account'));return false;">You<em>r Account</em></a>
					<div class="active">Plan<em>s &amp; Payment</em></div>
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_about'));return false;" ontouchstart="_wpc.ui.switchView(document.getElementById('s_about'));return false;">About</a>		
				</div>
				<div class="plans" id="s_planboxes">
					<div class="box 1" onclick="_wpc.ui.upgradeboxclick(this);">
						<div class="head">Basic</div>
						<div class="price">Free!</div>
						<div class="curr">&nbsp;</div>	
						<ul>
							<li>Up to 10 documents
							<li>100 context searches	
							<li>
							<li>
						</ul>
						<a href="#" class="wpcbutton grey" onclick="_wpc.ui.hideDialog();return false;">Your Current Plan</a>		
						<a href="#" class="wpcbutton red" onclick="_wpc.sys.user.downgrade('free');return false;">Downgrade</a>	
					</div>
					<div class="box 2" onclick="_wpc.ui.upgradeboxclick(this);">
						<div class="head">Starter</div>
						<div class="price">9<sup>.90</sup></div>	
						<div class="curr">USD / MONTH</div>	
						<ul>
							<li>Unlimited documents
							<li>Unlimited searches
							<li>Archive	
							<li>	
						</ul>
						<a href="#" class="wpcbutton grey" onclick="_wpc.ui.hideDialog();return false;">Your Current Plan</a>		
						<a href="#" class="wpcbutton red" onclick="_wpc.sys.user.downgrade('starter');return false;">Downgrade</a>	
						<a href="#" class="wpcbutton green" onclick="_wpc.ui.fillcheckout('starter');return false;">Upgrade !</a>	
					</div>
					<div class="box 3" onclick="_wpc.ui.upgradeboxclick(this);">
						<div class="head">Pro</div>
						<div class="price">29</div>		
						<div class="curr">USD / MONTH</div>	
						<ul>
							<li>All Starter features
							<li>Speciality data sources
							<li>Chrome research plugin							
							<li>One-click publishing	
						</ul>
						<a href="#" class="wpcbutton grey" onclick="_wpc.ui.hideDialog();return false;">Your Current Plan</a>		
						<a href="#" class="wpcbutton green" onclick="_wpc.ui.fillcheckout('pro');return false;">Upgrade !</a>	
					</div>
				</div>	
				<div id="s_planfooter" class="footer">
					<a href="#" onclick="_wpc.ui.hideDialog();return false;">Not now, thanks.</a>	
				</div>	
			</div>

			<div id="s_checkout" style="display:none;">
				<div class="header forced"></div>				
				<div class="header">
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_account'));return false;" ontouchstart="_wpc.ui.switchView(document.getElementById('s_account'));return false;">You<em>r Account</em></a>
					<div class="active">Plan<em>s &amp; Payment</em></div>
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_about'));return false;" ontouchstart="_wpc.ui.switchView(document.getElementById('s_about'));return false;">About</a>		
				</div>
				<div class="checkoutdetails">	
					{% if current_user.is_authenticated() and current_user.active_cc %}
						<form id="checkoutform">
							<input type="text" value="Starter Plan for 9.99" disabled id="cc_desc"></input><div class="ioption changeplan"><a href="#" onclick="_wpc.ui.switchView(document.getElementById('s_plan'));document.activeElement.blur();return false;">Change</a></div>
							<input type="text" disabled value="" placeholder="Credit Card Number" id="cc_number" data-stripe="number" onfocus="this.nextSibling.innerHTML='';"></input><div class="ioption"></div>
							<input type="text" disabled value="" placeholder="Month" id="cc_exp_month" class="small" title="Expiration Month" data-stripe="exp-month" onfocus="document.getElementById('checkout_error').innerHTML=''"></input> /
							<input type="text" disabled  value="" placeholder="Year" id="cc_exp_year" class="small" title="Expiration Year" data-stripe="exp-year" onfocus="document.getElementById('checkout_error').innerHTML=''"></input>	
							<input type="text" disabled value="" placeholder="CVC" id="cc_cvc" class="small cvc" title="The 3 digits on the back of your card" data-stripe="cvc" onfocus="document.getElementById('checkout_error').innerHTML=''"></input>	
							<div class="small" id="checkout_error"></div>			
							<a href="#" class="wpcbutton green" id="checkoutbutton" onclick="_wpc.sys.user.checkout(); return false;">
							Upgrade</a>	
							<input type="submit" value="foo" onclick="_wpc.sys.user.checkout(); return false;" class="pseudobutton"></input>
						</form>						
						<script type="text/javascript">
							{% with cc = current_user.active_cc %}
							var hirostripecard = {
								cc_number: "{{ cc['type'] }}: " + '•••• •••• •••• ' + "{{ cc['last4'] }}",
								cc_exp_month: "{{ cc['exp_month'] }}",
								cc_exp_year: "{{ cc['exp_year'] }}",
								cc_cvc: '•••'
							};
							{% endwith %}
							var usehirostripecard = true;
							function fillccform() {
								for (var key in hirostripecard) {
								   if (hirostripecard.hasOwnProperty(key)) {
								   	var el = document.getElementById(key); 
								   	el.value = hirostripecard[key];
								   	if (key=='cc_number') el.addEventListener('click', clearccform(el));
								   }
								}
							}
							var clearccform = function(el) {
							    var handler = function(event) {
							    	var fields = el.parentNode.getElementsByTagName('input');
							    	for (i=0,l=fields.length;i<l;i++) {
							    		if (i>0) fields[i].value = '';
							    	}
							    	usehirostripecard = false;
				           			el.removeEventListener('click', handler);
							    };
							    return handler;
							};
							fillccform();						
						</script>
					{% else %}	
					<form id="checkoutform">
						<input type="text" value="Starter Plan for 9.99" disabled id="cc_desc"></input><div class="ioption changeplan"><a href="#" onclick="_wpc.ui.switchView(document.getElementById('s_plan'));document.activeElement.blur();return false;">Change</a></div>
						<input type="text" value="" placeholder="Credit Card Number" id="cc_number" data-stripe="number" onfocus="this.nextSibling.innerHTML='';"></input><div class="ioption"></div>
						<input type="text" value="" placeholder="Month" id="cc_exp_month" class="small" title="Expiration Month" data-stripe="exp-month" onfocus="document.getElementById('checkout_error').innerHTML=''"></input> /
						<input type="text" value="" placeholder="Year" id="cc_exp_year" class="small" title="Expiration Year" data-stripe="exp-year" onfocus="document.getElementById('checkout_error').innerHTML=''"></input>	
						<input type="text" value="" placeholder="CVC" id="cc_cvc" class="small cvc" title="The 3 digits on the back of your card" data-stripe="cvc" onfocus="document.getElementById('checkout_error').innerHTML=''"></input>	
						<div class="small" id="checkout_error"></div>			
						<a href="#" class="wpcbutton green" id="checkoutbutton" onclick="_wpc.sys.user.checkout(); return false;">
						Upgrade</a>	
						<input type="submit" value="foo" onclick="_wpc.sys.user.checkout(); return false;" class="pseudobutton"></input>
					</form>						
					{% endif %}
				</div>	
			</div>

			<div id="s_about" style="display:none;">
				<div class="header">
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_account'));return false;" ontouchstart="_wpc.ui.switchView(document.getElementById('s_account'));return false;">You<em>r Account</em></a>
					<a href="#" onmousedown="_wpc.ui.switchView(document.getElementById('s_plan'));return false;" ontouchstart="_wpc.ui.switchView(document.getElementById('s_plan'));return false;">Plan<em>s &amp; Payment</em></a>
					<div class="active">About</div>	
				</div>
				Writing, may it be emails, documents or posts takes up a large amount of our time in front of screens.<br /><br />

				But surprisingly, it is the one area where we still use the most arcane tools from the 20th century.<br /><br />

				Wonderpad lets you create better texts, faster. And get inspired along the way.<br /><br />

				Because writing like Word for Dos was OK in 1988. But it isn't in 2012.
			</div>

		</div>	
	</div>

	<script>
  	function facebookshare() {
        var obj = {
            method: 'feed',
            link: 'https://www.hiroapp.com',
            name: 'Hiro. Never Lose Your Best Ideas.',
            caption: 'https://www.hiroapp.com',
            description: "Hiro is a notetaking app that makes it easy to write down your ideas. It's extremely fast, beautifully designed and works on all your devices.",
            actions: {
                name: 'Start writing',
                link: 'https://www.hiroapp.com/connect/facebook',
            }
        };
        FB.ui(obj);
    }; 
	</script>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript">
		// Set stripe key
  		Stripe.setPublishableKey('{{ config.STRIPE_PUBLIC_KEY }}');
  		// Various startup functions
  		_wpc.ui.setplans();
  		_wpc.lib.init();
  		{% if current_user.is_authenticated() %}
	  		// init segment io
			analytics.identify('{{ current_user.token }}', {
			    email            : '{{ current_user.email }}',
			    subscriptionPlan : '{{ current_user.plan }}',
			    created: {{ current_user.signup_at_ts }}
			});  
		{% endif %}			
	</script>
</body>
</html>	
