html,
body,
#folio,
#canvas {
  height: 100%;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
   overflow-y: scroll;
   overflow-x: hidden; 
   background-color: #fcfcfc;
}

body {
  font-family: "urbana", sans-serif;
  color: #1a1a1a;
  background-color: #fcfcfc;  
}

/* Mobile devices */
@media (max-width: 480px), (min-width: 481px) and (max-width: 900px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : landscape) {
  body{
    -webkit-text-size-adjust: none;
  }
}

.fb_dialog {
  z-index: 99990 !important;
} 

/* ------ Basic button & interaction styles ------*/

a {
  cursor: pointer;
}

a.hirobutton {
  font-weight: normal;
  margin: 0 0 3px 0;
  padding: 6px 6px 5px 6px;
  height: auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.30);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.30);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.30);
  -o-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.30);
  color: rgba(255,255,255,0.95) !important;
  text-decoration: none !important;
  opacity: 0.9;
  text-shadow: none;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(0,0,0,.2));
  background-image: -moz-linear-gradient(top, transparent, rgba(0,0,0,.2));
  background-image: -ms-linear-gradient(top, transparent, rgba(0,0,0,.2));
  background-image: -o-linear-gradient(top, transparent, rgba(0,0,0,.2));
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.2));
}

a.hirobutton.blue {
  background-color: #3c6198;
}

a.hirobutton.green {
  background-color: #055a0b;
}

a.hirobutton:hover {
  color: rgba(255,255,255,1);
  opacity: 1;
}

.bubble {
  font-size: 14px;
  font-family: "urbana", sans-serif;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  position: absolute;
  padding: 2px 4px 0 3px;
  line-height: 14px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
  -o-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
  color: #fff;
  opacity: 1;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
  /* iPhone 5 */
  .bubble {
    padding: 1px 4px 2px 3px; 
  } 
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
  /* Older iOS & Android */
  .bubble {
    padding: 1px 4px 2px 3px; 
  } 
}

.bubble.red {
    text-align: center;
    background: #ef331a;
    background: -moz-linear-gradient(top,#fa361b 0,#ce1f07,100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fa361b),color-stop(100%,#ce1f07));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa361b',endColorstr='#ce1f07',GradientType=0);
}

/* ------ Left hand menu aka Folio ------*/

#folio {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #2f2f2f;
  z-index: 1000;
  width: 450px;
}

#showmenu {
  position: fixed;
  background: url(../img/icons.png) no-repeat;
  background-size: 108px auto;
  background-position: -27px -151px;;
  left: 0px;
  top: 0px;
  height: 45px;
  width: 40px; 
  z-index: 2200;
}

#showmenu .bubble {
  display: none;
  text-indent: 0;
  bottom: 3px;
  right: 0;
}

@media (max-width: 480px) {
  #canvas {
    width: 100%;
  }

  #canvas .documents {
    max-width: 295px;
    right: 55px;
    width: auto;
  }

}


/* ------ Editor ------*/


#canvas {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 50px;
  margin-right: 0;
  min-height: 100%;
  z-index: 2000;
  background: #fff;
  border-left: 1px solid #222;
}

#canvas.full {
  margin-right: 0;
}

#canvas input.title {
  display: block;
  font-family: "urbana",sans-serif;
  padding: 0;
  margin: 0;
  border: 1px solid #fff; 
  font-size: 18px;
  font-weight: 600;
  width: 87%;
  color: #333;
  text-overflow: ellipsis;  
}

#canvas.full input.title {
  font-size: 22px;
}

#canvas input:focus {
    outline: none;
}


@media (max-width: 480px) {
  #canvas {
    margin-left: 0;
    margin-right: 0;
    border-right: none;
    border-left: none;
  }

  #showmenu {
    position: fixed;
    background-position: 14px -152px;
    cursor: pointer;
    left: 0px;
    top: 0px;
    height: 45px;
    width: 40px;
  }  

  #canvas input.title {
    position: fixed;
    width: auto;
    top: 9px;
    left: 0;
    right: 0;
    margin-left: 47px;
    margin-right: 50px;    
    margin-bottom: 0;
    font-family: "urbana",sans-serif;
    padding: 0;
    border: none; 
    font-size: 18px;
    font-weight: 600;
    color: #333;
    z-index: 3010;
    background-color: transparent;
  } 
}

@media (min-width: 481px) and (max-width: 900px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : landscape) {
  #canvas {
    margin-left: 50px;
    margin-right: 0;
    border-right: none;
  }
}


/* ------ Context Bar ------*/


#context {
  background-color: #f0f0ed;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  border-left: 1px solid #dcdcdc;
}

#status, #errorstatus {
  display: block;
  padding: 11px 5px 7px 14px;
  border-bottom: 1px dotted #dcdcdc; 
  color: #999;
}

#errorstatus {
  display: none; 
  color: rgba(209,11,11,1);
}

#context .results {
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 37px;
  bottom: 58px;
  left: -100px;
  padding-right: 3px;
  -webkit-overflow-scrolling: touch;  
}

#context .results::-webkit-scrollbar {
    width: 7px;
    height: 9px;
}

#context .results::-webkit-scrollbar-button:start:decrement, 
#context .results::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}
#context .results::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}
#context .results::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
}
#context .results::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
}

#wwwresults .result, #wwwresults .result.touch:hover, #synresults .group, #msgresults a.msg {
  margin-left: 100px;
  display: block;
  position: relative;
  height: 92px;  
  padding: 8px 12px 8px 14px;
  border-bottom: 1px dotted #d6d6d6;
  -webkit-transition: background-color 750ms ease-out;
  -moz-transition: background-color 750ms ease-out;
  -o-transition: background-color 750ms ease-out; 
}

#synresults .group {
  height: auto;
  color: #999;
}

#msgresults a.msg {
  height: auto;
  color: #999;
  text-decoration: none;
}



#msgresults a.msg em {
  color: #333;
  font-style: normal;
}

#wwwresults .tip {
  margin: 10px 10px 0 115px;
  color: #999;
}

#wwwresults .result.touch:hover {
  border-bottom: 1px solid #c5c5c5; 
  margin-left: 50px;   
  padding-left: 63px;   
}


#wwwresults .result:first-child, #synresults .group:first-child, #msgresults a.msg:first-child  {
  margin-top: 1px;    
}

#wwwresults .result:hover, #synresults .group:hover, #msgresults a.msg:hover {
  margin-left: 50px;
  border-left: 1px solid #c5c5c5;
  margin-top: -1px;
  border-top: 1px solid #c5c5c5;  
  border-bottom: 1px solid #c5c5c5;    
  background-color: #e1e1dd;
  padding-left: 63px;    
  -webkit-transition: background-color 0ms ease-in;
  -moz-transition: background-color 0ms ease-in;
  -o-transition: background-color 0ms ease-in;     
}

#synresults .group:hover, #msgresults a.msg:hover {
  padding-left: 14px;
  margin-left: 99px;
  color: #000;  
}

#wwwresults .result.sticky, #wwwresults .result.sticky.touch:hover {
  height: 37px;
  margin-left: 50px; 
  padding-left: 64px;  
}

#wwwresults .result.sticky.touch:hover {
  padding-left: 63px;  
}

#wwwresults .result.sticky:hover {
  height: 92px;
  padding-left: 63px;   
}

#wwwresults .result.sticky a.link .blurb, #wwwresults .result.sticky.touch:hover a.link .blurb {
  display: none;
}

#wwwresults .result.sticky:hover a.link .blurb {
  display: block;
}

#wwwresults .result:first-child:hover, #synresults .group:first-child:hover, #msgresults a.msg:first-child:hover {
  margin-top: 0px;    
}

#wwwresults .result a {
  text-decoration: none;
}

#wwwresults .result a.action {
  background-image: url(../img/icons.png);   
  width: 32px;
  height: 32px;
  border-radius: 3px;
  display: none;
}

#wwwresults .result:hover a.action {
  display: block;
  background-color: #ccc;
}

#wwwresults .result:hover a.action:hover {
  background-color: #bbb;
}

#wwwresults .result a.action {
  background-repeat: no-repeat;
  background-size: 102px auto;  
}

#wwwresults .result a.stick { 
  background-position: 8px 8px;  
  position: absolute;
  top: 10px;
  left: 10px;
}

#wwwresults .result a.stick:hover { 
  background-position: 8px -32px;  
}

#wwwresults .result a.unstick { 
  background-position: 8px -32px;  
  position: absolute;
  display: block;
  background-color: none;
  top: 10px;
  left: 11px;
  opacity: 0.6;
}

#wwwresults .result:hover a.unstick { 
  background-position: -72px 8px;   
  top: 10px;
  left: 10px;  
  opacity: 1;
}

#wwwresults .result:hover a.unstick:hover { 
  background-position: -72px -32px;  
  background-color: #bbb;  
  top: 10px;
  left: 10px;  
}

#wwwresults .result a.delete {
  background-position: -32px 8px;  
  position: absolute;
  top: 49px;
  left: 10px;
}

#wwwresults .result a.delete:hover { 
  background-position: -32px -32px;   
}

#wwwresults .result a.link {
}

#wwwresults .result:hover a.link {

}

#wwwresults .result a.link .title {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  display: block;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#wwwresults .result a.link .title b {
  font-weight: 400;
}

#wwwresults .result a.link:hover .title {
  color: #000;
}

#wwwresults .result a.link .blurb {
  font-size: 14px;
  color: #888;
  width: 100%;
  max-height: 53px;
  display: block;  
  overflow: hidden;
  text-overflow: ellipsis;   
}

#wwwresults .result a.link .blurb b {
  font-weight: normal;
  color: #777;  
}

#wwwresults .result a.link:hover .blurb, #wwwresults .result a.link:hover .blurb b {
  color: #333;
}

#wwwresults .result a.link .url {
  color: #999;
  display: block;
  padding: 0 0 5px 0;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  width: 100%;
  display: block;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

#wwwresults .result a.link:hover .url {
  color: #666;
  text-decoration: underline;
}

#synresults .group .header em {
  color: #666;
  font-style: normal;
  text-transform: capitalize;
}

#synresults .group:hover .header em {
  color: #000;
}

#synresults .group .words {
  display: none;
}

#synresults .group:hover .words {
  display: block;
}

#synresults .group .words a, #synresults .group .words a:visited {
  color: #336699;
  text-decoration: none;
}

#synresults .group .words a:hover {
  color: #996633;
}


@media (max-width: 480px){
  #context {
    display: none;
    left: 0;
    margin-left: 48px;
    width: auto;
  }

  #status, #errorstatus {
    padding: 17px 5px 12px 14px    
  }

  #context .results {
    top: 48px;
  }

  #wwwresults .result.sticky, #wwwresults .result.sticky.touch:hover {
    background-color: #f0f0ed;  
    margin-left: 51px;
    padding-left: 63px;    
  }  

  #wwwresults .result.sticky:hover {
    background-color: #e1e1dd;
  }

  #wwwresults .result.touch:hover {
    border-bottom: 1px solid #c5c5c5; 
    margin-left: 100px;   
    padding-left: 14px;   
  }  

  #wwwresults .result.sticky:first-child, #wwwresults .result.sticky.touch:first-child:hover {
    border-top: 1px dotted #d6d6d6;  
    margin-top: 0; 
  }  

  #wwwresults .result.sticky:first-child:hover {
    border-top: 1px solid #c5c5c5;
  } 

  #wwwresults .result:hover {
    margin-left: 51px;
    border-left: none;
    padding-left: 63px;        
  }  

  #wwwresults .result a.action, #wwwresults .result.touch:hover a.action {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    display: block;
    margin-left: -51px;
    background-color: rgba(230,230,230,0.9);    
  }

  #wwwresults .result a.unstick {
    margin-left: -2px !important;
    background-color: transparent;     
  }     

  #wwwresults .result:hover a.action {
    margin-left: -2px;
    display: block;
    background-color: #ccc;
  }

  #wwwresults .result:hover a.action:hover {
    background-color: #bbb;
  }  

  .context .upgrade {
    right: 0;
    left: 0;    
  }

  .context .upgrade small {
    display: block;
  }  

  .context .upgrade a {
    width: auto;
    display: block; 
    text-align: center;
  }

}

@media (min-width: 481px) and (max-width: 900px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : landscape) {
  .context {
    display: none;
    opacity: 0.9;
  }
}

/*   Settings and other Dialogs */

#modalShield {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  margin: 0;
  padding: 0;
  z-index: 90000;
}

#dialogWrapper {
  position: fixed;
  display: none;
  border: 10px rgba(0,0,0,0.9) solid;
  color: rgba(0,0,0,0.8)!important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  -o-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  -khtml-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  margin: 10px;
  padding: 0;  
  z-index: 95000;
  background-color: #fff;
}

#dialogWrapper iframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


/* ---------------------- Landing page overlay ----------------------------- */


iframe#landing  {
  width: 100%;
  height: 100%;
  border: 0; 
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  margin: 0;
  padding: 0;
  z-index: 80000;  
}

body#landingPage2 {
  text-align: center;
  background-color: #fcfcfc;   
}

@media (max-width: 550px) and (min-height: 370px) {
  body#landingPage2 {
    background: url(../img/site/landing.mobile.3.png) no-repeat;
    background-size: 100% auto;
    background-position: center bottom; 
  }  
}

@media (max-width: 550px) and (max-height: 369px) {
  body#landingPage2 {
    background: url(../img/site/landing.mobile.3.png) no-repeat;
    background-size: 100% auto;
    background-position: center 200px; 
  }  
}

body#landingPage2 .l_container .l_canvas {
  margin: 0;
  position: absolute;
  top: 25px; 
  left: 30px;
  right: 30px;
  text-align: left;   
}

body#landingPage2 .l_container .l_canvas h1 {
  font-size: 40px;
  display: block;
  color: #333;  
  font-weight: 400; 
  line-height: 40px;
}

body#landingPage2 .l_container .l_canvas .text {
  color: #666;  
  margin: 6px 0 18px 0;  
  line-height: 22px;
}

body#landingPage2 .l_container .l_canvas .text em {
  font-style: normal;   
  color: #333;  
}

body#landingPage2 .l_container .l_canvas .cto {
  font-size: 14px;
  color: #999;  
}

body#landingPage2 .l_container .l_canvas .cto a.start {
  padding: 12px 18px 12px 18px;
  display: block;
  font-size: 20px;
  outline: none;
  margin-bottom: 14px;
}

body#landingPage2 .l_container .l_canvas .cto .small {
  display: block;
  margin-left: 18px;
}

body#landingPage2 .l_container .l_canvas .cto .small a.signin {
  padding: 0;
  font-size: 14px;
  outline: none;
  color: #666;
  text-decoration: none;
}

body#landingPage2 .l_footer {
  display: none;
  position: absolute;
  bottom: 7%;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 14px;
  color: #999;
}

@media (min-height: 420px) and (min-width: 550px) {
  body#landingPage2 .l_footer {
    display: block;
  }
}

body#landingPage2 .l_footer .l_box {
  width: 150px;
  display: inline-block;
  margin: 0;
}

body#landingPage2 .l_footer .l_box.middle {
  width: 170px;
  margin: 0 5%;
}

body#landingPage2 .l_footer .l_box .l_header {
  color: #888;
}

body#landingPage {
  text-align: center;
  background-color: #fcfcfc;
}

body#landingPage h1 {
  position: absolute;
  margin: 45px auto 0 auto;
  left: 0;
  right: 0;
  font-family: "urbana",sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #666;
  display: block; 
}

@media (min-width: 550px) {
  body#landingPage2 .l_container {
    margin: auto 0;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    display: block;
    height: 80%;
    background: url(../img/site/landing.3.png) no-repeat;
    background-size: auto 100%;
    background-position: center center;    
  }

  body#landingPage2 .l_container .l_overlay {
    margin: 0;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 10%; 
    display: block;
    width: 45%;
    cursor: pointer;
  }

  body#landingPage2 .l_container .l_canvas {
    left: 50%;
    right: 40px;
  }

  body#landingPage2 .l_container .l_canvas h1 {
    line-height: normal;
    margin-left: 16px;
  }  

  body#landingPage2 .l_container .l_canvas .text {
    max-width: 400px;
    margin-bottom: 16px;
    margin-left: 17px;
  }  

  body#landingPage2 .l_container .l_canvas .cto a.start {
    max-width: 332px;
    margin-bottom: 16px;
  }  

}





/* -------- Progress Bar -----------------*/

#hprogress {
  pointer-events: none;
  -webkit-pointer-events: none;  
}

#hprogress .bar {
  background: #3c6198;
  position: fixed;
  z-index: 80000;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;  
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  display: none;  
}

#hprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3c6198, 0 0 5px #3c6198;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}