html,
body,
#folio {
  height: 100%;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
   overflow-y: scroll;
   overflow-x: hidden; 
   background-color: #fcfcfc;
}

body {
  font-family: "urbana", sans-serif;
  color: #1a1a1a;
  background-color: #fcfcfc;  
}

input {
  font-family: "urbana",sans-serif; 
  box-sizing: border-box;   
}

/* Mobile devices */
@media (max-width: 480px), (min-width: 481px) and (max-width: 900px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : landscape) {
  body{
    -webkit-text-size-adjust: none;
  }
}

@media (max-width: 480px) {
  html{
    overflow-y: hidden; 
  }
}

.fb_dialog {
  z-index: 99990 !important;
} 

/* ------ Basic button & interaction styles ------*/

a {
  cursor: pointer;
  color: #336699;
  text-decoration: none;
}

a:hover {
  color: #996633;
}

a.hirobutton {
  font-weight: normal;
  margin: 0 0 3px 0;
  padding: 6px 6px 5px 6px;
  height: auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.30);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.30);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.30);
  -o-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.30);
  color: rgba(255,255,255,0.95) !important;
  text-decoration: none !important;
  opacity: 0.9;
  text-shadow: none;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(0,0,0,.2));
  background-image: -moz-linear-gradient(top, transparent, rgba(0,0,0,.2));
  background-image: -ms-linear-gradient(top, transparent, rgba(0,0,0,.2));
  background-image: -o-linear-gradient(top, transparent, rgba(0,0,0,.2));
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.2));
}

a.hirobutton.blue {
  background-color: #3c6198;
}

a.hirobutton.green {
  background-color: #055a0b;
}

a.hirobutton:hover {
  color: rgba(255,255,255,1);
  opacity: 1;
}

input.pseudobutton {
  position: absolute;
  top: -500px;
}

.bubble {
  font-size: 14px;
  font-family: "urbana", sans-serif;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  position: absolute;
  padding: 2px 4px 0 3px;
  line-height: 14px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
  -o-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
  color: #fff;
  opacity: 1;
}

.simplescroll::-webkit-scrollbar {
    width: 7px;
    height: 9px;
}
.simplescroll::-webkit-scrollbar-button:start:decrement, 
.simplescroll::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}
.simplescroll::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}
.simplescroll::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
}
.simplescroll::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
  /* iPhone 5 */
  .bubble {
    padding: 1px 4px 2px 3px; 
  } 
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
  /* Older iOS & Android */
  .bubble {
    padding: 1px 4px 2px 3px; 
  } 
}

.bubble.red {
    text-align: center;
    background: #ef331a;
    background: -moz-linear-gradient(top,#fa361b 0,#ce1f07,100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fa361b),color-stop(100%,#ce1f07));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa361b',endColorstr='#ce1f07',GradientType=0);
}

/* ------ Left hand menu aka Folio ------*/

#folio {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #2f2f2f;
  z-index: 1000;
  width: 450px;
}

#folio a {
  color: #ddd;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none; 
  cursor: pointer;
}

#folio a:hover {
  color: #fff;
} 

#showmenu {
  position: fixed;
  background: url(../img/icons.2.png) no-repeat;
  background-size: 108px auto;
  background-position: -27px -151px;;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px; 
  z-index: 2200;  
}

#showmenu .bubble {
  display: none;
  text-indent: 0;
  bottom: 3px;
  right: 0;
} 

#newnote {
  display: inline-block;
  margin: 10px 0 0 50px;
  padding: 6px 50px 6px 0;
}

#archivelist {
  display: none;
}

#folio .notes {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 50px;
  width: 340px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
  padding-top: 10px;
}

#folio .notes .loading {
  margin-left: 50px; 
}

#folio .notes .note {
  display: block;
  padding-bottom: 15px;
  position: relative;
}

#folio .notes .note .archive {
  width: 30px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 10px;
  background-image: url(../img/icons.2.png);
  background-size: 108px auto;
  opacity: .5;
  cursor: pointer;
  background-repeat: no-repeat;
  display: none;
}

#folio .notes .note:hover .archive {
  display: block;
}

#folio .notes .note .archive:hover {
  opacity: 1;
}

#notelist .note .archive {
  background-position: -36px -122px;
}

#archivelist .note .archive {
  background-position: -78px -122px;
}

#folio .notes .note a {
  font-family: "urbana",sans-serif;
  display: block;
  margin: 0 10px 0 50px;
  color: #ddd;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  line-height: 15px;
  cursor: pointer;  
}

#folio .notes .note:hover a, #folio .notes .note:hover a small {
  color: #fff;
}

#folio .notes .note a .notetitle {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#folio .notes .note a small {
  color: #bbb;
  font-size: 14px;
  font-weight: normal;
}

#folio .notes .note.shared a {
  padding-right: 33px;
}

#folio .notes .note a .sharing {
  background-image: url(../img/publish.4.png);
  background-size: 38px auto;
  background-repeat: no-repeat;
  background-position: right -387px;
  position: absolute;
  top: 0;
  right: 10px;
  display: block;
  height: 30px;
  width: 30px;
  opacity: 0.5;
}

#folio .notes .note:hover a .sharing {
  opacity: 1;
}

#folio .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 340px;
}

#folio .footer a {
  opacity: 0.55;
  display: none;
  color: #fff;
}

#folio .footer a:hover {
  opacity: 1;
}

#folio .footer a.signin, #folio .footer a.archivelink {
  background-image: url(../img/icons.2.png);
  background-repeat: no-repeat;
  background-size: 108px auto;
  padding: 15px 10px 15px 50px;
  float: left;
} 

#folio .footer a.icon {
  background-image: url(../img/icons.2.png);
  background-repeat: no-repeat;
  background-size: 108px auto;
  float: right;
  width: 50px;
  height: 50px;  
} 

#folio .footer a.signin {
  background-position: -68px -151px;
}

#folio .footer a.archivelink {
  background-position: -68px -68px;
}

#folio .footer a.settings {
  background-position: -26px -67px;
}

@media (max-width: 480px) {
  #folio {
    width: 100%;
  }

  #folio .notes {
    max-width: 295px;
    right: 57px;
    width: auto;
  }

  #folio .footer {
    max-width: 295px;    
    right: 55px;
    width: auto;
  }

  #showmenu {
    background-position: 14px -152px;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }   

}


/* ------ Editor ------*/


#canvas {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 50px;
  margin-right: 0;
  min-height: 100%;
  z-index: 2000;
  background: #fff;
  border-left: 1px solid #222;   
}

#canvas input.title {  
  position: absolute;
  padding: 54px 395px 10px 95px;
  margin: 0;
  border: 1px solid #fff; 
  font-size: 30px;
  font-weight: 600;
  color: #333;
  text-overflow: ellipsis;  
  width: 100%;
  z-index: 2020;
}

#canvas input:focus, #canvas textarea:focus {
    outline: none;
}

#canvas textarea { 
  position: absolute;  
  margin: 0;
  padding: 127px 395px 100px 96px;
  font-family: "ff-meta-serif-web-pro",serif;
  font-size: 17px;
  line-height: 32px;
  border: 0;
  overflow: hidden;
  color: #333;
  min-height: 100%;
  width: 100%;  
  resize: none;  
  box-sizing: border-box; 
  z-index: 2010;
}

#nicequote {
  position: absolute;
  z-index: 2030;
  bottom: 54px;
  left: 95px;  
}

#nicequote .quote {
  color: #666;
  font-size: 18px;
}

#nicequote small {
  display: block;
  color: #999; 
  font-size: 14px;
}


@media (max-width: 480px) {
  #canvas {
    margin-left: 0;
    border-left: none;
  } 

  #canvas input.title {
    padding: 9px 30px 5px 47px;
    border: 0; 
    font-size: 27px;
    background-color: transparent;
  } 

  #canvas textarea {
    padding: 45px 12px 20px 12px;
    line-height: 28px;
    height: 100% !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; 
  }

  #nicequote {
    left: 20px;
    bottom: 18px;
    right: 20px;  
  }

}

@media (min-width: 481px) and (max-width: 900px) {
  #canvas input.title {
    padding: 40px 95px 10px 70px;
    font-size: 27px;
    border: 0;
  }  

  #canvas textarea {
    padding: 98px 95px 10px 70px;
    line-height: 30px;
  }  

  #nicequote {
    left: 70px;
    bottom: 40px;
    right: 70px;  
  }  
}


/* ------ Context Bar ------*/


#context {
  background-color: #f0f0ed;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  border-left: 1px solid #dcdcdc;
}

#status, #errorstatus {
  display: block;
  padding: 11px 5px 7px 14px;
  border-bottom: 1px dotted #dcdcdc; 
  color: #999;
}

#errorstatus {
  display: none; 
  color: rgba(209,11,11,1);
}

#context .results {
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 37px;
  bottom: 58px;
  left: -100px;
  padding-right: 3px;
  -webkit-overflow-scrolling: touch;  
}

#context .results::-webkit-scrollbar {
    width: 7px;
    height: 9px;
}

#context .results::-webkit-scrollbar-button:start:decrement, 
#context .results::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}
#context .results::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}
#context .results::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
}
#context .results::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
}

#wwwresults .result, #wwwresults .result.touch:hover, #synresults .group, #msgresults a.msg {
  margin-left: 100px;
  display: block;
  position: relative;
  height: 92px;  
  padding: 8px 12px 8px 14px;
  border-bottom: 1px dotted #d6d6d6;
  -webkit-transition: background-color 750ms ease-out;
  -moz-transition: background-color 750ms ease-out;
  -o-transition: background-color 750ms ease-out; 
}

#synresults .group {
  height: auto;
  color: #999;
}

#msgresults a.msg {
  height: auto;
  color: #999;
  text-decoration: none;
}



#msgresults a.msg em {
  color: #333;
  font-style: normal;
}

#wwwresults .tip {
  margin: 10px 10px 0 115px;
  color: #999;
}

#wwwresults .result.touch:hover {
  border-bottom: 1px solid #c5c5c5; 
  margin-left: 50px;   
  padding-left: 63px;   
}


#wwwresults .result:first-child, #synresults .group:first-child, #msgresults a.msg:first-child  {
  margin-top: 1px;    
}

#wwwresults .result:hover, #synresults .group:hover, #msgresults a.msg:hover {
  margin-left: 50px;
  border-left: 1px solid #c5c5c5;
  margin-top: -1px;
  border-top: 1px solid #c5c5c5;  
  border-bottom: 1px solid #c5c5c5;    
  background-color: #e1e1dd;
  padding-left: 63px;    
  -webkit-transition: background-color 0ms ease-in;
  -moz-transition: background-color 0ms ease-in;
  -o-transition: background-color 0ms ease-in;     
}

#synresults .group:hover, #msgresults a.msg:hover {
  padding-left: 14px;
  margin-left: 99px;
  color: #000;  
}

#wwwresults .result.sticky, #wwwresults .result.sticky.touch:hover {
  height: 37px;
  margin-left: 50px; 
  padding-left: 64px;  
}

#wwwresults .result.sticky.touch:hover {
  padding-left: 63px;  
}

#wwwresults .result.sticky:hover {
  height: 92px;
  padding-left: 63px;   
}

#wwwresults .result.sticky a.link .blurb, #wwwresults .result.sticky.touch:hover a.link .blurb {
  display: none;
}

#wwwresults .result.sticky:hover a.link .blurb {
  display: block;
}

#wwwresults .result:first-child:hover, #synresults .group:first-child:hover, #msgresults a.msg:first-child:hover {
  margin-top: 0px;    
}

#wwwresults .result a {
  text-decoration: none;
}

#wwwresults .result a.action {
  background-image: url(../img/icons.png);   
  width: 32px;
  height: 32px;
  border-radius: 3px;
  display: none;
}

#wwwresults .result:hover a.action {
  display: block;
  background-color: #ccc;
}

#wwwresults .result:hover a.action:hover {
  background-color: #bbb;
}

#wwwresults .result a.action {
  background-repeat: no-repeat;
  background-size: 102px auto;  
}

#wwwresults .result a.stick { 
  background-position: 8px 8px;  
  position: absolute;
  top: 10px;
  left: 10px;
}

#wwwresults .result a.stick:hover { 
  background-position: 8px -32px;  
}

#wwwresults .result a.unstick { 
  background-position: 8px -32px;  
  position: absolute;
  display: block;
  background-color: none;
  top: 10px;
  left: 11px;
  opacity: 0.6;
}

#wwwresults .result:hover a.unstick { 
  background-position: -72px 8px;   
  top: 10px;
  left: 10px;  
  opacity: 1;
}

#wwwresults .result:hover a.unstick:hover { 
  background-position: -72px -32px;  
  background-color: #bbb;  
  top: 10px;
  left: 10px;  
}

#wwwresults .result a.delete {
  background-position: -32px 8px;  
  position: absolute;
  top: 49px;
  left: 10px;
}

#wwwresults .result a.delete:hover { 
  background-position: -32px -32px;   
}

#wwwresults .result a.link {
}

#wwwresults .result:hover a.link {

}

#wwwresults .result a.link .title {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  display: block;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#wwwresults .result a.link .title b {
  font-weight: 400;
}

#wwwresults .result a.link:hover .title {
  color: #000;
}

#wwwresults .result a.link .blurb {
  font-size: 14px;
  color: #888;
  width: 100%;
  max-height: 53px;
  display: block;  
  overflow: hidden;
  text-overflow: ellipsis;   
}

#wwwresults .result a.link .blurb b {
  font-weight: normal;
  color: #777;  
}

#wwwresults .result a.link:hover .blurb, #wwwresults .result a.link:hover .blurb b {
  color: #333;
}

#wwwresults .result a.link .url {
  color: #999;
  display: block;
  padding: 0 0 5px 0;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  width: 100%;
  display: block;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

#wwwresults .result a.link:hover .url {
  color: #666;
  text-decoration: underline;
}

#synresults .group .header em {
  color: #666;
  font-style: normal;
  text-transform: capitalize;
}

#synresults .group:hover .header em {
  color: #000;
}

#synresults .group .words {
  display: none;
}

#synresults .group:hover .words {
  display: block;
}

#synresults .group .words a, #synresults .group .words a:visited {
  color: #336699;
  text-decoration: none;
}

#synresults .group .words a:hover {
  color: #996633;
}


@media (max-width: 480px){
  #context {
    display: none;
    left: 0;
    margin-left: 48px;
    width: auto;
  }

  #status, #errorstatus {
    padding: 17px 5px 12px 14px    
  }

  #context .results {
    top: 48px;
  }

  #wwwresults .result.sticky, #wwwresults .result.sticky.touch:hover {
    background-color: #f0f0ed;  
    margin-left: 51px;
    padding-left: 63px;    
  }  

  #wwwresults .result.sticky:hover {
    background-color: #e1e1dd;
  }

  #wwwresults .result.touch:hover {
    border-bottom: 1px solid #c5c5c5; 
    margin-left: 100px;   
    padding-left: 14px;   
  }  

  #wwwresults .result.sticky:first-child, #wwwresults .result.sticky.touch:first-child:hover {
    border-top: 1px dotted #d6d6d6;  
    margin-top: 0; 
  }  

  #wwwresults .result.sticky:first-child:hover {
    border-top: 1px solid #c5c5c5;
  } 

  #wwwresults .result:hover {
    margin-left: 51px;
    border-left: none;
    padding-left: 63px;        
  }  

  #wwwresults .result a.action, #wwwresults .result.touch:hover a.action {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    display: block;
    margin-left: -51px;
    background-color: rgba(230,230,230,0.9);    
  }

  #wwwresults .result a.unstick {
    margin-left: -2px !important;
    background-color: transparent;     
  }     

  #wwwresults .result:hover a.action {
    margin-left: -2px;
    display: block;
    background-color: #ccc;
  }

  #wwwresults .result:hover a.action:hover {
    background-color: #bbb;
  }  

  .context .upgrade {
    right: 0;
    left: 0;    
  }

  .context .upgrade small {
    display: block;
  }  

  .context .upgrade a {
    width: auto;
    display: block; 
    text-align: center;
  }

}

@media (min-width: 481px) and (max-width: 900px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : landscape) {
  #context {
    display: block;
    opacity: 0.9;
  }
}

/*   Settings and other Dialogs */

#shield {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  margin: 0;
  padding: 0;
  z-index: 90000;
}

#shield .wrapper {
  display: block;
  position: absolute;
  width: 750px;
  height: 480px;
  border: 1px rgba(0,0,0,0.9) solid;
  color: rgba(0,0,0,0.8) !important;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  -o-box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  -khtml-box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  margin: 0;
  padding: 0;  
  z-index: 95000;
  background-color: #fcfcfc;
  text-align: center;  
  overflow: hidden; 
  margin-left: 200px;
  -webkit-transition: margin-left 0.1s;
  -moz-transition: margin-left 0.1s;
  transition: margin-left 0.1s;  
}

#shield form input  {
  font-family: "urbana",sans-serif;
  font-size: 18px;
  padding: 8px 10px 8px 10px;  
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 200;
  border-radius: 3px;
  border: 1px solid #bbb;
}

#shield .divider {
  border-top: 1px solid #ccc;
  margin: 30px 0 26px 0;
  height: 1px;
}

#shield .divider .or {
  position: relative; 
  top: -11px;   
  color: #999;
  background-color: #fcfcfc;
  padding: 0 10px 0 10px;
  display: inline-block;
}

#shield div.inputerror {
  float: right;
  display: inline-block;
  font-size: 14px;
  color: red;  
  margin-top: -38px;
  margin-right: 10px; 
}


/* Hidden per default */
#s_signin, #s_reset, #d_logio, #d_msg, #d_container {
  display: none;
}

#s_signin, #s_signup {
  margin: 98px auto 0 auto;
  width: 400px;
}

#s_reset {
  margin: 170px auto 0 auto;
  width: 400px;
}

#d_logio a.fb {
  background-color: #3b5998;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#d_logio a.green, #s_settings .checkoutdetails a.green {
  padding-top: 8px;
  padding-bottom: 8px;
}

#d_logio a.small {
  margin-top: 4px;
  color: #999;
  text-decoration: none;
  float: right;
  font-size: 14px;
  margin-left: 10px;
}

#d_logio a.small:hover {
  color: #333;
}






#d_settings .header {
  display: block;
  padding: 15px 0 15px 17px;
  color: #999;
  border-bottom: 1px dotted #ddd;
  text-align: left;
}

#d_settings .header.forced {
  display: none;
}

#d_settings .header em {
  font-style: normal;
}

#d_settings .header span {
  display: block;
  padding: 7px 40px 3px 5px;
}

#d_settings .header a {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #eee;
  text-decoration: none;
  color: #888;
  display: inline-block;
  margin-right: 20px;
}

#d_settings .header a.active, #d_settings .header a.active:hover {
  background-color: #666;
  color: #f6f6f6;
}

#d_settings .header a:hover {
  color: #000;
}



#signuperror, #loginerror, #reseterror {
  float: left;
  display: inline-block;
  color: red;
  font-size: 14px;
  padding-top: 4px;
}

#d_settings .accountdetails, #d_settings .checkoutdetails {
  margin: 68px auto 0 auto;
  width: 400px;
}

#d_settings form .ioption {
  float: right;
  display: inline-block;
  font-size: 14px;  
  margin-top: -38px;
  margin-right: 10px; 
  color: #999;
}

#d_settings form .ioption.save {
  display: none;
  margin-right: 36px;   
}

#d_settings form .ioption.error {
  color: red;
  background: none;
}

#d_settings form .ioption.upgradelink {
  position: absolute;
  top: 324px;
  right: 176px;
  z-index: 99000;    
}

#d_settings form .ioption.changeplan {
  position: absolute;
  top: 209px;
  right: 175px;
  z-index: 99000;  
}

#d_settings form .ioption a {
  text-decoration: none;
  color: #055a0b;
}

#d_settings form .ioption a.facebook {
  text-decoration: none;
  color: #3b5998;
  font-weight: 600;
}



#s_account .accountdetails form {
  margin-top: 33px;
}

#s_account .accountdetails form .logout {
  width: 32px;
  height: 30px;
  margin-top: -44px;
  float: right;
  cursor: pointer;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-size: 90px auto;  
  background-position: 6px -98px;   
  opacity: 0.4;
  display: block;
}

#s_account form .logout:hover {  
  opacity: 0.9;
}

#s_account .accountdetails a.hirobutton.share {
  width: 100px;
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
}

#s_account .accountdetails a.hirobutton.share b {
  font-size: 18px;
}

#s_account .accountdetails a.hirobutton.share.fb {
  background-color: #3b5998;
}

#s_account .accountdetails a.hirobutton.share.tw {
  background-color: #0271bf;
}

#s_account .accountdetails a.hirobutton.share.mail {
  margin-right: 0;
}

#s_account .accountdetails a.hirobutton.share.sms {
  display: none;
}




#s_plan .box {
  float: left;
  margin-top: 28px;
  display: inline-block;
  width: 195px;
  height: 338px;
  margin-left: 37px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

#s_plan .box .head {
  display: block;
  font-size: 18px;
  text-align: center;
  color: #999;
  padding-top: 40px;
}

#s_plan .box .price {
  display: block;
  font-size: 30px;
  text-align: center;
  color: #333;
  padding-top: 5px;
  font-weight: normal;
}

#s_plan .box .price sup {
  font-size: 12px;
  vertical-align: baseline;  
}

#s_plan .box .curr {
  display: block;
  font-size: 12px;
  text-align: center;
  color: #aaa;
  padding-top: 6px;
}

#s_plan .box ul {
  display: block;
  font-size: 16px;
  text-align: left;
  color: #333;
  vertical-align: top;
  list-style-type: none;
  padding: 52px 0 0 20px;
}

#s_plan .box a.hirobutton {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 150px;
  display: none;
}

#s_plan .box.3 {
  margin-right: 0;
}

#s_plan .footer {
  position: absolute;
  bottom: 15px;
  right: 17px;
}

#s_plan .footer a {
  color: #999;
}

#s_plan .footer a:hover {
  color: #333;
}



#s_checkout .checkoutdetails form {
  margin-top: 100px;
}

#s_checkout .checkoutdetails form input.small {
  width: 100px;
  display: inline-block;
}

#s_checkout .checkoutdetails form input.small.cvc {
  float: right;
  width: 120px;
}


#s_checkout .checkoutdetails a.wpcbutton {
  text-align: center;
}

#s_checkout .checkoutdetails #checkout_error {
  font-size: 14px;
  display: block;
  color: red;
  margin: -5px 0 5px 1px;
}

#s_checkout .checkoutdetails .pbstripe {
  padding-top: 3px;
  font-size: 14px;
  color: #bbb;
}

#s_checkout .checkoutdetails .pbstripe .right {
  padding-right: 2px;
  float: right;
}





#s_about .aboutsection, #s_upgrade .upgradesection {
  margin: 60px auto 0 auto;
  width: 530px;
  color: #666;
  line-height: 22px;
  text-align: left;
}

#s_about .aboutsection em, #s_upgrade .upgradesection em {
  font-style: normal;
  color: #1a1a1a;
}

#s_about .aboutsection .claim, #s_upgrade .upgradesection .claim {
  display: block;
  padding-bottom: 20px;
  font-size: 28px;
  line-height: 32px;
  color: #888;
}

#s_upgrade .upgradesection {
  margin-top: 130px;
  width: 400px;
}

#s_upgrade .upgradesection a {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}



/* ---------------------- Landing page overlay ----------------------------- */


iframe#landing  {
  width: 100%;
  height: 100%;
  border: 0; 
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  margin: 0;
  padding: 0;
  z-index: 80000;  
}

body#landingPage2 {
  text-align: center;
  background-color: #fcfcfc;   
}

@media (max-width: 550px) and (min-height: 370px) {
  body#landingPage2 {
    background: url(../img/site/landing.mobile.3.png) no-repeat;
    background-size: 100% auto;
    background-position: center bottom; 
  }  
}

@media (max-width: 550px) and (max-height: 369px) {
  body#landingPage2 {
    background: url(../img/site/landing.mobile.3.png) no-repeat;
    background-size: 100% auto;
    background-position: center 200px; 
  }  
}

body#landingPage2 .l_container .l_canvas {
  margin: 0;
  position: absolute;
  top: 25px; 
  left: 30px;
  right: 30px;
  text-align: left;   
}

body#landingPage2 .l_container .l_canvas h1 {
  font-size: 40px;
  display: block;
  color: #333;  
  font-weight: 400; 
  line-height: 40px;
}

body#landingPage2 .l_container .l_canvas .text {
  color: #666;  
  margin: 6px 0 18px 0;  
  line-height: 22px;
}

body#landingPage2 .l_container .l_canvas .text em {
  font-style: normal;   
  color: #333;  
}

body#landingPage2 .l_container .l_canvas .cto {
  font-size: 14px;
  color: #999;  
}

body#landingPage2 .l_container .l_canvas .cto a.start {
  padding: 12px 18px 12px 18px;
  display: block;
  font-size: 20px;
  outline: none;
  margin-bottom: 14px;
}

body#landingPage2 .l_container .l_canvas .cto .small {
  display: block;
  margin-left: 18px;
}

body#landingPage2 .l_container .l_canvas .cto .small a.signin {
  padding: 0;
  font-size: 14px;
  outline: none;
  color: #666;
  text-decoration: none;
}

body#landingPage2 .l_footer {
  display: none;
  position: absolute;
  bottom: 7%;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 14px;
  color: #999;
}

@media (min-height: 420px) and (min-width: 550px) {
  body#landingPage2 .l_footer {
    display: block;
  }
}

body#landingPage2 .l_footer .l_box {
  width: 150px;
  display: inline-block;
  margin: 0;
}

body#landingPage2 .l_footer .l_box.middle {
  width: 170px;
  margin: 0 5%;
}

body#landingPage2 .l_footer .l_box .l_header {
  color: #888;
}

body#landingPage {
  text-align: center;
  background-color: #fcfcfc;
}

body#landingPage h1 {
  position: absolute;
  margin: 45px auto 0 auto;
  left: 0;
  right: 0;
  font-family: "urbana",sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #666;
  display: block; 
}

@media (min-width: 550px) {
  body#landingPage2 .l_container {
    margin: auto 0;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    display: block;
    height: 80%;
    background: url(../img/site/landing.3.png) no-repeat;
    background-size: auto 100%;
    background-position: center center;    
  }

  body#landingPage2 .l_container .l_overlay {
    margin: 0;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 10%; 
    display: block;
    width: 45%;
    cursor: pointer;
  }

  body#landingPage2 .l_container .l_canvas {
    left: 50%;
    right: 40px;
  }

  body#landingPage2 .l_container .l_canvas h1 {
    line-height: normal;
    margin-left: 16px;
  }  

  body#landingPage2 .l_container .l_canvas .text {
    max-width: 400px;
    margin-bottom: 16px;
    margin-left: 17px;
  }  

  body#landingPage2 .l_container .l_canvas .cto a.start {
    max-width: 332px;
    margin-bottom: 16px;
  }  

}





/* -------- Progress Bar -----------------*/

#hprogress {
  pointer-events: none;
  -webkit-pointer-events: none;  
}

#hprogress .bar {
  background: #3c6198;
  position: fixed;
  z-index: 80000;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;  
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  display: none;  
}

#hprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3c6198, 0 0 5px #3c6198;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}