<!DOCTYPE html>
<html {% if want_manifest %}manifest="/static/hiro.appcache"{%endif%}>
	<head>
		<meta charset="utf-8">
	    <title>Hiro. Notes with Friends.</title>
        <meta name="description" content="From ideas for your business to party preparations: Hiro is the easiest way to stay organized throughout the day." />
        <meta name="keywords" content="Hiro, notes, notepad, notes with firends, shared notes, notetaking, evernote, simplenote, shared notes, writing, writing app, word processor, text, text editor" />
        <meta name="title" content="Hiro.  Notes with Friends." />	    
		<meta name="mobile-web-app-capable" content="yes" />		
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="apple-mobile-web-app-title" content="Hiro" />	
		<meta name="apple-mobile-web-app-capable" content="yes" />		
		<meta name="apple-mobile-web-app-status-bar-style" content="black">			
		<meta name="mobile-web-app-title" content="Hiro" />			
		<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		<meta property="og:site_name" content="Hiro" />
        <meta property="og:title" content="Hiro" />
        <meta property="og:url" content="{{ request.url }}" />
        <meta property="og:image" content="https://www.hiroapp.com/og.png" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Notes with friends." />
        {{ get_asset('new_css') }}
		<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png"/>		
		<link rel="canonical" href="{{ request.url }}"/>	
	</head>
	<body>
		<div id="fb-root"></div>		

		<div id="landing"></div>		

		<div id="showmenu">
			<div class="bubble red"></div>
		</div>

		<div id="folio">
			<a id="newnote"><b>+</b>{{ " " }} New Note</a>
			<div class="notes simplescroll" id="notelist">
				<span class="loading">Loading...</span>				
			</div>				
			<div class="notes simplescroll" id="archivelist"></div>
			<div class="footer">
				<a class="signin" id="signin" title="Sign In">Sign Up -  Free Sync &amp; Backup</a>						
				<a class="archivelink" id="archivelink" title="Archive">Archive</a>	
				<a class="settings icon" id="settings" title="Settings & Log Out"></a>											
			</div>
		</div>

		<div id="rails">
			<div class="shade"></div>
			<div id="canvas">	
				<input class="title" id="title" value="">				
				<textarea placeholder="Just write or paste things for later..." id="content" spellcheck="true"></textarea>
				<div id="overlay"></div>			
				<div id="nicequote">
					<span class="quote">“One day I will find the right words, and they will be simple.”</span>
					<small>– Jack Kerouac, The Dharma Bums</small>
				</div>			
			</div>	
		</div>		

		<div id="apps">
			<div class="app app_sharing" id="app_sharing">
				<div class="icon">
					<div class="symbol"></div>
					<div class="counter"></div>
				</div>
				<div class="widget">
					<div id="widget:invite">
						<a class="cancel" data-hiro-action="close" title="Cancel"></a>
						<div class="title">Invite others<a data-hiro-action="switch:share"></a></div>
						<form action="javascript:void(0);" novalidate>
							<input type="email" placeholder="E-Mail or Phone-Number" class="hiro" novalidate>
							<div class="error hidden"></div>
							<div class="peers"></div>
							<input type="submit" value="foo" class="pseudobutton">
						</form>
						<a class="hirobutton grey" data-hiro-action="invite">Invite</a>
						<small>People who have access:</small>
						<div class="peers"></div>
					</div>
					<div id="widget:share" class="hidden">
						<a class="cancel" data-hiro-action="close" title="Cancel"></a>
						<div class="title">Share a link<a data-hiro-action="switch:invite"></a></div>	
						<input type="text" data-hiro-action="generate">	
						<a class="hirobutton fb" data-hiro-action="share:fb">Post on{{ " " }}<b>Facebook</b></a>			
						<a class="hirobutton tw" data-hiro-action="share:tw">Tweet</a>										
						<a class="hirobutton green" data-hiro-action="share:mail">Mail</a>			
						<small>Everybody who has this link can join.</small>							
					</div>
				</div>	
			</div>	
		</div>

        <div id="context">
			<div id="status">Loading...</div>		
			<div id="results">	
				<div id="msgresults"></div>
				<div id="synresults"></div>				
				<div id="wwwresults"></div>																		
			</div>
		</div>				

		<div id="shield">
			<div class="wrapper">		
				<div id="d_close"></div>					
				<div id="d_logio">
					<div id="s_signup">
						<a class="fb hirobutton" data-hiro-action="fbsignup">Sign-Up with{{ " " }}<b>Facebook</b></a>
						<div class="divider"><span class="or">or</span></div>
						<form action="javascript:void(0);" autocapitalize="off" autocorrect="off">
							<input type="email" placeholder="E-Mail or Phone" id="signup_mail" autocorrect="off"></input><div class="inputerror error"></div>				
							<input type="password" placeholder="Choose a password"></input><div class="inputerror error"></div>	
							<input type="submit" value="foo" onclick="Hiro.user.logio(event);" class="pseudobutton"></input>
						</form>		
						<a class="hirobutton green" data-hiro-action="register">Create Account</a>	
						<div class="mainerror error"></div>
						<a class="small" data-hiro-action="switch_s_signin">Already have an account?</a>			
					</div>	
					<div id="s_signin">
						<a class="fb hirobutton" data-hiro-action="fblogin">Log-In with{{ " " }}<b>Facebook</b></a>
						<div class="divider"><span class="or">or</span></div>
						<form action="javascript:void(0);" autocapitalize="off" autocorrect="off">
							<input type="email" placeholder="E-Mail or Phone" id="signin_mail"></input><div class="inputerror error"></div>
							<input type="password" placeholder="Password"></input><div class="inputerror error"></div>
							<input type="submit" value="foo" onclick="Hiro.user.logio(event,true);" class="pseudobutton"></input>
						</form>		
						<a class="hirobutton green" data-hiro-action="login">Log-In</a>	
						<div class="mainerror error"></div>				
						<a class="small" data-hiro-action="requestpwdreset">Reset password</a><a class="small" data-hiro-action="switch_s_signup">Create an account</a>
					</div>	
					<div id="s_reset">
						<form action="javascript:void(0);" autocapitalize="off" autocorrect="off">
							<input type="password" placeholder="New password" id="new_password"></input><div class="inputerror error"></div>
							<input type="password" placeholder="Repeat password"></input><div class="error"></div>
							<input type="submit" value="foo" onclick="Hiro.user.resetpwd();" class="pseudobutton"></input>
						</form>		
						<a class="hirobutton green" data-hiro-action="resetpwd">Reset Password</a>	
						<div class="mainerror error"></div>	
						<a class="small hidden" data-hiro-action="switch_s_signin">Login with old password.</a>
					</div>			
				</div>				
				<div id="d_settings"></div>				
				<div id="d_msg" class="offline hidden">
					<div class="icon"></div>
					<div class="message">
						<div class="text"></div>
						<a class="hirobutton green"></a>						
					</div>
				</div>				
				<div id="d_container"></div>				
			</div>	
		</div>	

		<div id="hprogress"><div class="bar" role="bar"><div class="peg"></div></div></div>

		<div id="wastebin"></div>
	
        {{ get_asset('new_js') }}
        <script type="text/javascript">Hiro.sys.init({v:'{{ version }}',ws:'{{ config.WS_URL }}',st:'{{ config.STRIPE_PUBLIC_KEY }}',fb:'{{ config.FACEBOOK_APP_ID }}',ic:'{{ config.INTERCOM_ID }}',rb:'{{ config.ROLLBAR_CLIENT_TOKEN }}'});</script></body></html>
