<div id="s_account">
	<div class="header">
		<a class="active">You<em>r Account</em></a>
		<a data-hiro-action="switch_s_plan">Plan<em>s &amp; Payment</em></a>
		<a data-hiro-action="switch_s_about">About</a>	
	</div>	
	<div class="accountdetails">
		<form action="javascript:void(0);">
			<input type="text" value="" maxlength="40" placeholder="Your name (for shared editing)" data-hiro-value="name"></input><div class="ioption save"><a data-hiro-action="savename"></a></div><div class="logout" title="Logout" data-hiro-action="logout"></div>
			<input type="text" value="" disabled></input>
			<input type="text" value="Member since:" disabled></input><div class="ioption nomobile">Thanks!</div>
			<input type="text" value="" disabled></input><div class="ioption upgradelink"><a data-hiro-action="upgrade">Upgrade</a></div>
			<input type="submit" value="foo" onclick="Hiro.ui.dialog.clickhandler('savename','full');" class="pseudobutton"></input>			
		</form>		
		<div class="divider"><span class="or">Tell friends about Hiro:</span></div>
		<a data-hiro-action="share:fb" href="https://www.facebook.com/dialog/feed?app_id={{ config.FACEBOOK_APP_ID }}&link=https%3A%2F%2Fwww.hiroapp.com&redirect_uri=https%3A%2F%2Fwww.hiroapp.com" class="hirobutton share fb">via{{ " " }}<b>Facebook</b></a>
		<a data-hiro-action="share:tw" href="https://twitter.com/intent/tweet?text=Hiro.%20Notes%20With%20Friends.%20%23new%20%23notetaking%20%23app%20%23launchingsoon%20https%3A%2F%2Fwww.hiroapp.com" class="hirobutton share tw">via{{ " " }}<b>Twitter</b></a>	
		<a data-hiro-action="share:mail" href="mailto:?subject=You%20Know%20Hiro%3F&body=Neat%20new%20note-taking%20app%3A%20www.hiroapp.com" class="hirobutton share mail green">via{{ " " }}<b>Mail</b></a>
		<a data-hiro-action="share:sms" href="sms://?body=Let%27s%20start%20a%20Note%20on%20www.hiroapp.com" class="hirobutton share sms">via{{ " " }}<b>SMS</b></a>
	</div>					
</div>
	
<div id="s_plan" class="hidden">
	<div class="header tease"></div>				
	<div class="header">
		<a data-hiro-action="switch_s_account">You<em>r Account</em></a>
		<a class="active">Plan<em>s &amp; Payment</em></a>
		<a data-hiro-action="switch_s_about">About</a>		
	</div>
	<div class="plans">
		<div class="box 1" data-hiro-action="selectplan:1">
			<div class="head">Basic</div>
			<div class="price">Forever Free!</div>
			<div class="curr">&nbsp;</div>	
			<ul>
				<li>
				<li>
				<li>Up to 10 notes				
				<li>Fine for daily usage					
			</ul>
			<a class="hirobutton grey">Your Current Plan</a>		
			<a class="hirobutton light">Downgrade</a>	
		</div>
		<div class="box 2" data-hiro-action="selectplan:2">
			<div class="head">Advanced</div>
			<div class="price">9</div>	
			<div class="curr">USD / MONTH</div>	
			<ul>
				<li>
				<li>All basic features
				<li>Unlimited notes	
				<li>Archive	
			</ul>
			<a class="hirobutton grey">Your Current Plan</a>		
			<a class="hirobutton light">Downgrade</a>	
			<a class="hirobutton green">Upgrade !</a>	
		</div>
		<div class="box 3" data-hiro-action="selectplan:3">
			<div class="head">Pro (coming soon)</div>
			<div class="price">29</div>		
			<div class="curr">USD / MONTH</div>	
			<ul>
				<li>All Advanced features
				<li title="Include external information without even looking it up, like birthdate:lincoln, capital:swaziland (Mbabane in case you were wondering), weather:bahamas or even business information like github:issue.">Smart embedding
				<li title="While you're typing Hiro will fetch related content in the background, automatically, and display it on the right side without disturbing you (we all rememeber Bob the annoying paperclip).">Context engine				
				<li title="Take Hiro without when you scour the web and gather what you hunted in tidy text notes.">Chrome research plugin							
			</ul>
			<a class="hirobutton grey">Your Current Plan</a>		
			<a class="hirobutton green">Preorder !</a>	
		</div>
	</div>	
	<div class="footer">
		<a data-hiro-action="d_close">Not now, thanks.</a>	
	</div>	
</div>

<div id="s_checkout" class="hidden">
	<div class="header tease"></div>				
	<div class="header">
		<a data-hiro-action="switch_s_account">You<em>r Account</em></a>
		<a class="active" data-hiro-action="switch_s_plan">Plan<em>s &amp; Payment</em></a>
		<a data-hiro-action="switch_s_about">About</a>		
	</div>
	<div class="checkoutdetails">	
		<form action="javascript:void(0);">
			<input type="text" value="Advanced Plan for 9" disabled id="cc_desc"></input><div class="ioption changeplan"><a data-hiro-action="changeplan">Change</a></div>
			<input type="text"  pattern="[0-9]*" maxlength="22" placeholder="Credit Card Number" data-stripe="number"></input><div class="ioption"></div>
			<input type="text" pattern="[0-9]*" placeholder="Month" class="small" title="Expiration Month" data-stripe="exp-month"></input> /
			<input type="text" pattern="[0-9]*" placeholder="Year" class="small" title="Expiration Year" data-stripe="exp-year"></input>	
			<input type="text" pattern="[0-9]*" placeholder="CVC" class="small cvc" title="The 3 digits on the back of your card" data-stripe="cvc"></input>	
			<div class="mainerror error"></div>		
			<a class="hirobutton green" data-hiro-action="checkout">
			Upgrade</a>	
			<div class="pbstripe"><span class="right">Switch or cancel plans anytime</span>Secure payments powered by{{ " " }}<b>stripe</b></div>						
			<input type="submit" value="foo" onclick="Hiro.ui.dialog.clickhandler('checkout','full');" class="pseudobutton"></input>
		</form>						
	</div>	
</div>

<div id="s_about" class="hidden">
	<div class="header">
		<a data-hiro-action="switch_s_account">You<em>r Account</em></a>
		<a data-hiro-action="switch_s_plan">Plan<em>s &amp; Payment</em></a>
		<a class="active">About</a>	
	</div>

	<div class="aboutsection">
		<div class="claim"><em>Hiro is for people with big ideas</em><br />
		who want a better tool to keep them.</div>

		Why do we still have so many textfiles on our desktop, or send emails to ourselves? Sure, there are plenty of apps to write longer texts, create colorful scrapbooks or intricate mindmaps. But we wanted something incredibly simple, fast, that works on any device, without complicated syncing through third party services or 3 menus before you can do anything. Something you open when an idea you don't want to lose crosses your mind. A place where it is{{ " " }}<em>safe and not accessed by anybody else</em>.<br /><br />

		<span class="contact">We hope you like Hiro as much as we do. We're always there at{{ " " }}<a href="mailto:hello@hiroapp.com" target="_blank">hello@hiroapp.com</a>{{ " " }}and share the best tricks of how people manage their ideas on{{ " " }}<a href="https://www.facebook.com/hiroapp" target="_new">facebook.com/hiroapp</a>.</span>
	</div>	
</div>