<!DOCTYPE html>
<html style="overflow: hidden" {% if want_manifest %}manifest="/static/hiro.appcache"{%endif%}>
	<head>
        {{ get_asset('new_css') }}
	</head>
	<body id="landingPage2">
		<div class="l_container">
			<div class="l_overlay" data-hiro-action="screenshot"></div>
			<div class="l_canvas">			
				<h1>Hiro.</h1>
				<div class="text">
					Hiro is an app for shared text snippets,<br />so they don't get lost all over the place.
				</div>	
				<div class="cto">
					<a class="hirobutton blue start" data-hiro-action="cto">Start A Note<small>No signup required</small></a>
					<span class="small">or{{ " " }}<a data-hiro-action="signin" class="signin">sign-in</a>.</small>
				</div>	
			</div>		
		</div>
		<div class="l_footer">
			<div class="l_box"><div class="l_header">Ridiculously Fast</div>Start writing with a single tap, in under a second.</div>
			<div class="l_box middle"><div class="l_header">Zero Maintenance</div>Always in sync, saved<br />
and backed up.</div>
			<div class="l_box"><div class="l_header">Everywhere &amp; Offline</div>Just works, anytime, on all your devices.</div>
		</div>		
		<script type="text/javascript">window.parent.Hiro.ui.landing.init(this);</script>
	</body>
</html>
