<!DOCTYPE html>
<html style="overflow: hidden" manifest="/static/hiro.appcache">
	<head>
        {{ get_asset('new_css') }}
	</head>
	<body id="landingPage2" style="display:block;">
		<div class="l_container">
			<div class="l_overlay" data-hiro-action="screenshot"></div>
			<div class="l_canvas">			
				<h1>Hiro. Forget about it.</h1>
				<div class="text">
					Hiro takes care of shared text snippets,<br />so you can focus on other things.
				</div>	
				<div class="cto">
					<a href="#" class="hirobutton blue start" data-hiro-action="cto">Start A Note ( It's Free! )</a>
					<span class="small">or{{ " " }}<a href="#" data-hiro-action="signin" class="signin">sign-in</a>.</small>
				</div>	
			</div>		
		</div>
		<div class="l_footer">
			<div class="l_box"><div class="l_header">Ridiculously Fast</div>Start writing with a single tap, in under a second.</div>
			<div class="l_box middle"><div class="l_header">Safe &amp; Secure</div>Always in sync, saved,<br />
encrypted and backed up.</div>
			<div class="l_box"><div class="l_header">Everywhere &amp; Offline</div>Just works, anytime, on all your devices.</div>
		</div>		
		<script type="text/javascript">var h=window.parent.Hiro;if(h)h.ui.showlanding();</script>
	</body>
</html>
