<!DOCTYPE html>
<html>
	<head>
        {{ get_asset('new_css') }}
	</head>
	<body>
			<!-- div class="l_canvas">		
			
				Key topics:

				Hiro is coming to you, not the other way round.

				We understand that the last thing you need is another app you have the check. Or expect others to do so. That's why Hiro sends meaningful notifations and digests whenever something relevant happens. Once. No matter if your Hiro runs in a background tab, on a mobile phone or isn't installed at all.

				Stay in your flow

				a:Flow:a is one of the most important keys to productivity. Hiro is carefully designed so that you never lose your thoughts because the app slow or clumsy. No delay until you can type, no extra dialogs to hoop through, no waiting for syncs. Hiro is always there, but never in your way.

				It's using cutting edge technology

				You rightfully expect an app where everything is instant, that works offline, is orchestrated across your devices and let's you work with everyone. That's why created a new paradigm: a:OFDS:a. It's essentially a it's own server in your pocket, that talks to others and the cloud through whatever means available.

				FAQ:

				> Focus on SEO		


				Despite using notes, Hiro works like a messaging app: As soon as something relevant happens, you'll be notified. And once you noticed on one device, we make sure you dont got any redundant notifications. Because your time s too valuable. 

				<h1>Where Hiro shines</h1>
				<div class="text">Comparison of Whatsapp chat vs Hiro, typcial chat examples vs our use cases.</div>	
				<h1>How people get the most out of it</h1>
				<div class="text">Our 3 examples, TODO/work on desktop, restaurants on tablet and Friends file on mobile.</div>	
				<h1>Why speed matters</h1>
				<div class="text">Explain / link to flow http://en.wikipedia.org/wiki/Flow_%28psychology%29 , explain why people don't stick to complicated tools and why we often resort to mails to ourselves/textfiles etc. Add charts with taps / ms in between</div>	
				<h1>Features</h1>
				<div class="text">Ye old list, inc.luding the three footer things</div>								
			</div>		
		</div>
		<div class="l_footer">
			<div class="l_box"><div class="l_header">Ridiculously Fast</div>Start writing with a single tap, in under a second.</div>
			<div class="l_box middle"><div class="l_header">Zero Maintenance</div>Always in sync, saved<br />and backed up.</div>
			<div class="l_box"><div class="l_header">Everywhere &amp; Offline</div>Just works, anytime, on all your devices.</div>
		</div -->		
		<div class="l_container">
			<div class="l_overlay" data-hiro-action="screenshot"></div>

		<script type="text/javascript"></script>
	</body>
</html>