<!DOCTYPE html>
<html manifest="/static/hiro.appcache" class="ml">
	<head>
        {{ get_asset('new_css') }}		
	</head>
	<body>
		<div class="page">
			<div class="title">Cool New Restaurants</div>
			<div class="hirooverlay">
				Hey all, rules are simple<div class="flag active"><div class="name">Stephanie</div></div>: Website, opening hours, your one line summary, best table and favorite dish. If it's not good, please add it at the end (No-Go) with a short remark. Enjoy!<br /><br />
				LATEST KID IN TOWN: <br /><br />
				Ordinaire NY - Nolita - {{ " " }}<a>https://www.bistroordinaireny.com</a>{{ " " }} 6p - 1a<br /><br />
				Chris, 4ppl 21/1/2015: Finally something great coming out of SF, incredibly fresh produce, Spotted Pig style simplicity & atmosphere.<br />
				- The cozy tables on the left, go for the seven course or stick with the burger that made them famous.<br /><br />
				PREVIOUSLY:<br /><br />Single Bit - Queens -{{ " " }}<a>www.singlebit.com</a>{{ " " }}- Weekends only, 5p - 12a
			</div>
			<div class="dots">
				&#9899;{{ " " }}<a>&#9898;</a>{{ " " }}<a>&#9898;</a> 
			</div>	
		</div>
		<div class="description">
			<div class="text">
				<span>Hiro is an app for shared text snippets,{{ " " }}</span>
				<span>so they don't get lost all over the place.</span>
			</div>
			<div class="cto">
				<a class="hirobutton blue">Start a Note<small>No signup required</small></a>
				<small>or{{ " " }}<a>sign-in</a></small>
			</div>
		</div>
		<script type="text/javascript">window.parent.Hiro.ui.landing.init(this);</script>
	</body>
</html>
